[2015-08-18 10:05] franticpsyx opened #1 "Additional subscription scheme settings"
In its current state, the mini-extension is missing the following sub settings from the product-level subscription scheme UI:
- trial length
- trial period
- sign up fee

It's also missing the "Limit Subscription" setting, and the "Synchronise Renewals" setting.

These are obviously important, but since we rely on Subs core for all associated functionality, adding these in should be a trivial matt

[2015-08-18 10:18] franticpsyx opened #2 "Variable products support"
Currently we do not allow subscription schemes to be defined for variable products -- when we do it, we could make this work at variation level, or we could simply ignore variations and use the existing "Subscriptions" tab to define subscription schemes at parent level.

[2015-08-18 10:25] franticpsyx opened #3 "Add subscription information in price strings"
Products with subscription schemes defined at product-level should display some related information, possibly embedded in the price string.

This should be necessary when the "Force subscription" setting is checked, in which case the product is no different to a vanilla Sub-type product.

When more than 1 subscription scheme is defined at product-level, we'll need to somehow summarize that info.

[2015-08-18 10:30] franticpsyx opened #4 "Add-to-cart UX: Show options in form when a product has multiple subscription schemes defined at product level"
To improve UX, when a product has multiple subscription schemes defined at product level (or only 1 sub scheme defined in addition to being available as a one-time purchase), we'll need to provide a UI for selecting options before adding the product to the cart.

For instance, we could display the same (or similar) radio buttons we show in the cart, before the "add to cart" button.

[2015-08-21 01:36] franticpsyx opened #5 "Integration with Bundles, Composites and MnM (ongoing)"
- [x] Bundled items should inherit any subscription schemes defined at container level (even when they have their own product-level schemes).
- [x] Bundled items that are sub-type products should prevent any subs schemes at container level from working. If a bundle contains a sub-type product, it shouldn't be possible to define subs options at container level.
- [ ] Show a notice when attempting t

[2015-08-22 14:10] franticpsyx opened #6 "Plugin Title + Distribution Discussion"
What's it going to be?

At this point, I am leaning towards "WooCommerce Add-on Subscriptions".

Searching for "woocommerce add-on subscriptions" doesn't yield any powerful relevant results. Makes sense, since there's no such thing (yet).

Feel free to make suggestions once you have played with it.

@thenbrent

[2015-09-16 01:10] jconroy opened #7 "List of beta testers"
Just putting down some names/emails for beta testers as they come up so I don't lose them

[2015-10-23 20:39] thenbrent commented on #7
Closing this and removing names/emails of beta testers to a non-public channel. :smile:

[2015-10-23 20:39] #7 closed

[2015-10-23 22:45] franticpsyx commented on #6
closing

@thenbrent not sure if this should be left here.

[2015-10-23 22:45] #6 closed

[2015-10-24 17:57] #4 closed

[2015-10-24 19:33] franticpsyx commented on #3
**v1 proposal**:

Case 1: Forcing sub + single sub scheme = Use `WC_Subscriptions_Product::get_price_string`
Case 2: Forcing sub + multiple sub schemes = Add "(sign-up required)" suffix
Case 2: Allowing one-time purchase + sub scheme(s) defined = Add "(includes sign-up options)" suffix

[2015-10-24 19:34] #3 closed

[2015-11-14 19:41] felipesantana commented on #1
I might have some issue with the this plugin, there is no "Subscription Option" on the tab "Subscription", I clicked "add option" and nothing happens. Did I miss some configuration? Heres a screenshot and thanks for this plugins, if I can get this working it will save my life ;D

Screenshot: http://cl.ly/image/0e0M1n3F3F1L

[2015-11-16 21:42] franticpsyx commented on #1
@felipesantana The issue you are reporting is irrelevant to this thread - please open another one. Also I'm not able to replicate this issue. Please check your browser console for errors, and post your findings in a new ticket. Thanks!

[2015-11-27 13:33] franticpsyx opened #8 "Unable to add subscription options"

[2015-11-27 13:41] franticpsyx commented on #8
https://github.com/Prospress/woocommerce-subscribe-to-all-the-things/commit/717911433833f9174a7fb4730feb9d6a07ae7278

[2015-11-27 13:41] #8 closed

[2015-11-28 17:47] geekjoy opened #9 "Error on plugin activation"
First off i'm using your WC Subscriptions plugin on Wordpress 4.3.1 and Subscribe to all things 1.0.1. As soon as I activate the plugin and the page refreshes to show activation success, I get this error,

I'm trying to put together a subscription based site for physical coffee products and i'm lost with this. I'm also using Composite Products and Product Bundles extensions if that matters.

[2015-11-28 23:59] geekjoy commented on #9
Just tried version 1.0.2 from the master, and that had the same error.

[2015-11-29 12:08] franticpsyx commented on #9
@geekjoy Thanks for reporting this. Can you re-download the master branch and re-test? Also, you might consider updating your php version ;)

[2015-11-29 21:41] geekjoy commented on #9
@franticpsyx I just re-downloaded the master, no more errors on activation. Everything seems to work now, thanks for the fix. I would consider updating the php version, but its a client server and they just want to control that themselves.

[2015-11-30 05:20] franticpsyx commented on #9
Good to know, thanks!

[2015-11-30 05:20] #9 closed

[2016-01-11 12:50] titocalabrese opened #11 "Discount not working"
Don't know if it's only my case but when I try to add a percentage discount to product I receive a message on the product page that says that it is not possible to buy the product

[2016-01-11 12:56] franticpsyx commented on #11
Hi @titocalabrese - How is discount being applied? Are you applying a coupon in the cart?

[2016-01-11 13:17] titocalabrese commented on #11
Hi Manos,

I'm talking about the feature provided by this wonderful plugin (please
take a look to the attached image Discount.png).

If I try to add a discount (e.g. 5) I receive a message on the shop page
that prevent me from proceeding with the buying process (please take a look
to the second image in attachment Issue.png).

Let me know if you need further clarifications or any kind of support f

[2016-01-11 13:35] titocalabrese commented on #11
Hi Manos,
I've checked better and I've understood that the issue is related to the composite product plugin. Sorry for my misunderstanding.

I was confused by Amazon pricing strategy that allows for a discount in case you subscribe to the product instead of just buying it only once.

Have a nice day,

Tito

[2016-01-11 13:35] #11 closed

[2016-01-11 19:44] franticpsyx commented on #1
Submitted ideas:

- add the possibility for the store manager to set a % discount if the user subscribes to a product
- add sync renewal options

[2016-01-11 20:30] thenbrent commented on #1
Cool, like Amazon's "Subscribe and Save" system (though I think they've trademarked that phrase so we'll need to call it something else).

Hopefully we can most of the exiting methods in `WC_Subscriptions_Synchroniser` to handle this. At very least for the logic to handle everything after the products are made into cart items. To actually sync the subscription options for a product might need a bi

[2016-01-12 12:06] franticpsyx opened #12 "Subscription switching - choose between attached sub schemes"
Here's something of a grander scale.

Add support for:
- Subscriptions schemes switching
- Changing the subscribed content of product types such as Bundles and Composites (may require integration on their side)
- Cart subscription management (and switching)

I am not sure if all these WC Subscriptions features need to be ported to SAtT at this time, or if at all.

If WC Subscriptions ever absorbs

[2016-01-14 21:27] jakeperrin opened #14 "Add price to subscription"
It would be nice to change the price for each subscription you add.

[2016-01-18 02:57] seb86 commented on #14
@jakeperrin Read [this discussion](https://github.com/Prospress/woocommerce-subscribe-to-all-the-things/pull/13) for my pull request.

[2016-01-21 07:38] franticpsyx commented on #14
Duplicate of https://github.com/Prospress/woocommerce-subscribe-to-all-the-things/pull/13 - closing

[2016-01-21 07:38] #14 closed

[2016-01-24 11:38] franticpsyx opened #15 "Subscribe-to-cart functionality"
All the infrastructure for this is already in place - the only task left seems to be the processing/saving of subscription schemes defined via **WooCommerce > Settings > Subscriptions**.

[2016-01-24 19:23] samstone87 opened #17 "Question for using Product Bundles & Subscribe to All the Things"
First off, apologies if this is not the right place to post this/ask this. Not familiar with proper GitHub etiquette :)

Currently using Product Bundles and Subscribe to All the Things on a staging site. Right now one of my set up goes like this 4 week subscription, 5% discount, and you get to choose from a variety of meal choices to make up your bundle.

I don't know if this is possible already a

[2016-01-25 19:18] thenbrent commented on #15
@franticpsyx what's your opinion releasing this as a separate _*Subscribe to Cart*_ plugin instead of  bundling it within _*Subscribe to All the Things*_?

I think having a singular focus for mini-extensions will make it easier for users to understand what they do (and possibly also easier for us to maintain). So we could make _*Subscribe to All the Things*_ purely about offering subscription opti

[2016-01-27 19:02] franticpsyx commented on #17
Hi @samstone87 - thanks for the feedback!

You are right that this isn't possible at the moment. WC Subscriptions only supports subscription switching for Variable / Grouped products, but we would like to extend that to support:

- subscriptions schemes switching
- changing the subscribed content of product types such as Bundles and Composites.

We already have an issue opened for all this here -

[2016-01-27 19:02] #17 closed

[2016-01-27 19:16] franticpsyx opened #18 "Ability to override recurring price with every defined subscription option"
Ref: #13

[2016-01-28 15:31] furchildpets commented on #18
@franticpsyx Hi. I just wanted to let you know that I downloaded and tested your latest version -- ability to override product price. it worked for me a few times and then nothing. I can't get any of the combinations to work. It always defaults to the original price, even though when I look in the cart page the correct subscription and price are selected.  However, it either shows the original pri

[2016-01-28 15:47] louis2b commented on #2
I was thinking at this as I'd find it very useful to be able to subscribe to different skus.
It may be obvious but I was thinking, how it could look in terms of ux, for variable products.

I see 2 options to be able to define subs schemes at variation level
1. Having subscription fields appear in the different variations settings (in the variations tab)
2. keeping a subs tab, and for each subs sch

[2016-01-28 16:05] louis2b commented on #15
Maybe what is related to the product page and what is related to the cart page should be treated separately. In the current version, the fact that customers can still change subs scheme from the cart page could also distract them from continuing to checkout.

it could be easier to separate both, with one option to _create subs schemes for non subs products_, on the product page, but once they are

[2016-01-28 18:43] franticpsyx commented on #15
@louis2b For now, it might indeed make sense to add a filter that prevents sub options from showing up in the cart page.

@thenbrent

Exactly. The core "logic" is in SATT, so if we make a separate plugin for this it would need to be a SATT plugin, which is, in turn, a WC Subscriptions plugin.

I think it makes sense to enable that feature here, and basically use SATT as a "playground" for features

[2016-01-29 08:01] franticpsyx commented on #15
@louis2b - actually, there is a filter already - `wcsatt_show_cart_item_options`

[2016-01-29 08:20] franticpsyx commented on #18
@furchildpets Not sure which branch you were looking at, but there was no stable latest version with this feature in it until now.

Feel free to download and test the https://github.com/Prospress/woocommerce-subscribe-to-all-the-things/tree/issue-13-patches branch :)

[2016-01-29 08:32] franticpsyx commented on #1
This should already work in the https://github.com/Prospress/woocommerce-subscribe-to-all-the-things/tree/issue-13-patches branch - there are some issues with per-item-priced bundle types and the way totals show up in the product details page, but other than that, I think we are good.

Will run some more tests when I get back from Cape Town ;)

[2016-01-29 08:36] franticpsyx commented on #1
@thenbrent Note we've allowed both the ability to set a % discount **and** the ability to override the Regular/Sale prices at subscription-scheme level.

[2016-01-29 21:14] thenbrent commented on #15
@franticpsyx sounds good. :+1:

[2016-01-29 21:15] thenbrent commented on #1
@franticpsyx :+1: interesting that requests for that come up before requests for other subscription features, like free trial, sign-up fees etc.

[2016-01-30 04:53] franticpsyx commented on #1
@thenbrent Probably related to the use-cases/focus of SATT = selling physical products on an optional subscription basis.

This is the very same reason I thought trials + sign-up fees were a secondary feature for SATT and left them out in v1.

[2016-02-03 03:23] furchildpets commented on #18
@franticpsyx YEAH!!!! ;) It is working fantastically!! The mini cart is updating correctly and the 1 second delay with the WC Hover Cart plugin has gone away as well.

I have tested it with only Override Product Price with both Reg Price and Sale Price variations.

Works great!!! Thank you so much.

![image](https://cloud.githubusercontent.com/assets/16845980/12771941/6fbc0f22-ca2d-11e5-9292-23ceb

[2016-02-03 14:09] franticpsyx opened #19 "Refresh subscription lengths when changing period"
Ideally we should make the WC Subs script a bit more modular, but for now it's probably easier to just port some code from WCS `admin.js`.

[2016-02-03 14:15] #18 closed

[2016-02-03 14:18] #19 closed

[2016-02-03 14:20] franticpsyx opened #20 "Price overrides compatibility with per-item priced Bundles/Composites/MnM"
ref: https://github.com/Prospress/woocommerce-subscribe-to-all-the-things/pull/13#issuecomment-176881998

[2016-02-03 14:28] franticpsyx commented on #12
@thenbrent CC'ing you on this one - do you think we might be able to "just" hook into WCS and enable sub switching for subscription plans/schemes attached to products via SATT?

[2016-02-03 19:25] thenbrent commented on #12
Hopefully! We did a bit of work with Kathy to make sure there were enough hooks in place for 3rd party code to decouple switching from Grouped/Variable products. She wanted to make Name Your Price Simple Subscriptions switchable (so that customers could change the amount they pay without cancelling/reactivating the subscription).

For details of all the hooks added (meaning the hooks you'll probab

[2016-02-04 06:41] franticpsyx commented on #12
:+1:

[2016-02-10 02:17] nbyloff opened #21 "No Subscription tab for variable products?"
I am using Composite products to bundle a bunch of variable products together. On our staging site, trying to use this plugin with subscriptions & composite products. The readme says to create a simple/variable product then go to the subscriptions tab on that product.

I see it for the Simple product, but even after I save a variable product and add attributes, etc. I still don't see the subscript

[2016-02-10 12:35] franticpsyx commented on #21
Why not create a Composite product and then go to the Subscriptions tab to add Subscription plans?

The current version does not support Variable products - that's on my to-do list, though :)

[2016-02-10 18:10] nbyloff commented on #21
That could work, but there is multiple variations of a subscription. There's plans for product A and plans for product B. So if you get a subscription for product A, you need to either choose basic, premiere, or corporate. Same for product subscription B, but they could be different choices for that one too.

I think what I might do until variable products are supported is just force a redirect to

[2016-02-10 19:32] franticpsyx commented on #21
@nbyloff

Just a note - variable products support has not been planned in detail - we could make it possible to add subscription plans at variable product level, or at variation level. Not sure which would work for your particular use case.

Also, products with SATT subscriptions in Composites is a matter that has not been studied in detail and is unlikely to be supported fully.

[2016-02-10 20:15] nbyloff commented on #21
@franticpsyx

Noted. At this point, being able to add a variable subscription at the product level would be sufficient for my purposes I think.

What I am testing is a monitoring/electronic product that can come with multiple accessories. Something you can attach to equipment, and it sends a ping either through GPS or cell towers of it's current location. So composite product would work like this:

[2016-02-11 01:36] samstone87 opened #22 "Discount for subscription not working?"
Hi,

I have successfully built a few subscriptions on my staging site, using Subscriptions, Product Bundles, Tabular Layout and Min/Max and here it's working and show the discount:

https://staging.doyoueveneatbro.com/product/subscription-test-2/

I copied the same thing when making a new type of subscription to be everyday and no matter what I put in the discount field (and I've made sure everyth

[2016-02-11 16:46] furchildpets opened #23 "What is the best way to integrate with other Product Plugins?"
Hello,

We are using WooCommerce Custom Product Boxes by Wsdom Labs to create assorted product boxes that clients can fill with any combination of Simple Products.

https://wisdmlabs.com/assorted-bundles-woocommerce-custom-product-boxes-plugin/

![image](https://cloud.githubusercontent.com/assets/16845980/12982896/36756658-d0e7-11e5-87ad-bb921b8e8d9d.png)

![image](https://cloud.githubusercontent.

[2016-02-11 17:05] franticpsyx commented on #22
Discounts do not work with per-item priced Bundles yet :) there is already an open issue: https://github.com/Prospress/woocommerce-subscribe-to-all-the-things/issues/20

[2016-02-11 17:05] #22 closed

[2016-02-11 17:07] franticpsyx commented on #23
@furchildpets No plans to integrate 3rd party products at the moment :) Once we manage to integrate with the most popular WooThemes product extensions, we can start looking into 3rd party product types.

[2016-02-11 17:07] #23 closed

[2016-02-11 17:10] franticpsyx commented on #21
This is probably where we'll start - leave the variations functionality for product-related features, and use SATT to attach sub plans - same as with all other product types :)

[2016-02-11 17:21] furchildpets commented on #23
Ok understood. I will have the plugin developer look at your git project and maybe we will create a fork and see what we can do on our own.

I just hoping that there might be some standard action, functions to use when registering a new product type.

Thanks again!!!

[2016-02-11 21:03] samstone87 commented on #22
Ah I see, just read that thread. Still so confused though.

Do you know why I'm seeing a crossed out sale price and then when I rebuilt it as another subscription product it doesn't have a crossed out sale price?

 Looking at them side-by-side I copied the same details when building this one (https://staging.doyoueveneatbro.com/product/every-day-testing-subscription-renewal/) but I can't get that

[2016-02-12 10:45] louis2b commented on #21
Hi there,
Sub plans at product level for variation products is also exactly what I would need .
With your existing discount option for sub plans we would be able to use the variation levels prices and add a discount depending on the frequency of subscription.
Thanks for your work !

[2016-02-17 13:32] jmfonseca commented on #21
Yap, same thing here, For me it would work a subscription at the product level.

Also, it would be good to chose from a dropdown list or an option like Autoship does.

Use cases would be, if you have a bunch of subscription options it would be better to have a dropdown list.

When do you expect to have this figured out?

PS. THANK YOU SO MUCH FOR THIS EXTENTION.

[2016-02-23 16:43] glagonikas opened #24 "Subscription options on Composite Product"
Hi,

When i try to add a second subscription option on a Composite Product, the front-end displays an unordered list instead of a dropdown.

Thanks

WP: 4.4.2
WooCommerce: 2.5.2
WooCommerce Composite Products: 3.5.4
WooCommerce Subscribe All the Things: 1.0.2
WooCommerce Subscriptions: 2.0.9

[2016-02-23 18:00] franticpsyx commented on #24
Hi George,

Unless I am missing something, that's the default behaviour (radio buttons, not dropdown).

[2016-02-23 18:00] #24 closed

[2016-02-24 08:55] glagonikas commented on #24
Hi Manos,

Sorry, i probably didn't explain myself properly on this one... It displays a <UL> element. So something like
- Item 1
- Item 2

which doesn't allow you to pick an option.

[2016-02-24 09:49] glagonikas commented on #24
After some further testing, i noticed that's probably caused from the Salient theme 7.0.6. Switching back to twentysixteen displays the radio buttons.

The code is

`<ul class="wcsatt-convert-product">
    <li>
        <label>
            <input type="radio" checked="checked" value="1_month_0" name="convert_to_sub_545">
            Every month
        </label>
    </li>
    <li>
        <label>

[2016-03-28 09:33] #15 closed

[2016-03-28 10:07] franticpsyx opened #26 "Handling of scheme ids"
Ref - https://github.com/Prospress/woocommerce-subscribe-to-all-the-things/pull/25

@thenbrent Opening this to discuss about the way scheme IDs are handled. I feel this might be a bit of an annoyance for the active user base:

Also, it might be wise to keep the door open for dynamically modifying the id later on, in case we add extra settings that need to find their way into the id (sync?).

Addin

[2016-03-28 10:47] franticpsyx commented on #21
ref: #2

[2016-03-28 10:47] #21 closed

[2016-03-28 10:52] franticpsyx commented on #2
Added to the 1.1 milestone - cc @thenbrent

[2016-03-28 10:52] franticpsyx commented on #20
Added to the 1.1 milestone.

[2016-03-29 13:07] Ahrengot commented on #2
Is there a rough time frame for when 1.1 will be ready?

[2016-03-29 15:22] franticpsyx commented on #2
Hard to say - however, I can definitely say that we will be able to allocate more resources to SATT in Q2.

[2016-03-30 06:58] Ahrengot commented on #2
Alright I'm still a little unclear on the time frame. I'm trying to figure out if we're talking about weeks or months, but it sounds like months — Correct?

[2016-03-30 10:33] franticpsyx commented on #2
@thenbrent Can we perhaps brainstorm a few ideas about this to see what we want/need to implement?

@Ahrengot The main issue here is that we haven't specced this feature at all, so it's still unclear what the workload is going to be. We don't have a roadmap in place for SATT development, but we do have a pretty good idea of the features we want to prioritize - this is one of them. It's still hard

[2016-03-30 11:27] seb86 commented on #2
@franticpsyx and @Ahrengot I think option one would be better for adding subscriptions to variation products.

I think it would be confusing to some users to go between tabs in order to apply subscription options per variation.

Plus there is the issue of the data being saved. If you placed the subscription options under it's own section, would it not require more work to identify each subscriptio

[2016-03-30 11:28] thenbrent commented on #2
My 2c for now: I think using the Subscriptions tab to define schemes at the _variable level_ will be sufficient, at least for the first version. I'd like to see compelling use cases where each individual variation needs a unique subscription scheme before we build support for that.

[2016-03-30 14:38] franticpsyx commented on #2
I think the reason we left that out in the first place was that, well, there's already the concept of Variable Subscriptions for this. The problem with Variable Susbcriptions, though, is that if you have X different subscription options and N variations to describe product properties, you need X*N variations to include the different subscription options - the sub options are not separated from the

[2016-03-30 14:43] franticpsyx commented on #2
Considering all this, it might as well be simpler to just go straight to variation level, since we'll probably need to work at variation level anyway.

[2016-03-30 14:56] franticpsyx commented on #2
:+1:. If we go straight to variation level, it's probably wiser to just duplicate the entire content displayed under the "Subscriptions" tab at variation level.

[2016-03-30 15:02] seb86 commented on #2
Two questions.

Q1. Does a single variation only have a single subscription option?
Q2. Do we hide all the subscription fields by default unless the user has ticked a checkbox for that variable?

[2016-03-30 15:10] franticpsyx commented on #2
If we go to variation level, you'll be able to do the same thing that you can do now from the Subscriptions tab, only for every single variation. The Subscriptions tab won't exist - the options will be displayed inside the variation metaboxes.

So choosing a variation will completely refresh (or hide) the "Choose a subscription" container.

You'll be able to have variations with sub options and va

[2016-03-30 15:14] seb86 commented on #2
Yes, that makes sense. I was just confirming that a variation product would have the ability to have more than one subscription option as we do now for a simple product.

[2016-03-31 01:24] thenbrent commented on #2
Something not yet considered is how much harder for store owners this would be to work with it if they have more than a trivial number of variations. Can you imagine having to define the same 5 subscription schemes for 100 variations (which isn't actually that many)? The store owners would have to do approximately 1,500 mouse clicks, instead of 15 if we offer variable level .

There are bulk editi

[2016-03-31 09:14] franticpsyx commented on #2
Good points.

At odd as it might be, discounts + price overrides were the most requested features, which kind of makes sense considering the use cases for SATT vs vanilla Subs. There is no reason to assume that users will not need this variation level - we already have 2 requests for exactly this via e-mail, and roughly 2 more here.

I am a bit worried that doing this at product level will leave a

[2016-04-04 05:33] jraviz opened #27 "Addons doesn't apply to subscriptions"
@franticpsyx Hello Sir! I would like to ask if there's any way that the add-ons will be applied if I choose the subscription? Because for now it applies to One-time Purchases only. My idea is that the optional addons will be applied on the initial payment only.

[2016-04-14 11:11] alexchristiansen commented on #12
Hi @franticpsyx
I am currently very close to having a perfect setup with your SATT.
Though only "issue" left is the switch-subscription.
I tried to see @thenbrent photos - though 404 on those atm.

Could you elaborate on the situation with switching? Did you guys get it to work?

[2016-04-14 17:26] franticpsyx commented on #12
Hey @alexchristiansen - we haven't started working on this just yet. Currently the priority is to resolve some pending issues with the supported product types + to add support for the variable type. This is something we definitely want to look into, but at the moment we have not ETA.

[2016-04-21 15:20] seb86 opened #30 "Simple Product on Sale with Subscription Options"
@thenbrent and @franticpsyx I noticed that if a simple product that is on sale has subscription options, the price on the subscriptions are still taking a percentage of the regular price not the sale price.

![Simple Product on Sale with Subscription Options](https://cldup.com/QrsyTxoCOg.png)

Should it not inherit the sale price of the product when it is on sale and provide a discount percentage

[2016-04-21 15:37] seb86 opened #31 "Cart totals are incorrect with more than one item with subscription options"
@thenbrent and @franticpsyx I found another issue. If two items that have subscription options are added to the cart, the sub-total and recurring total are not calculating correctly.

![Cart Sub-Total and Recurring Total Incorrect](https://cldup.com/Bg3SDltUcV.png)

It appears to only calculate the last item in the cart.

[2016-04-21 15:41] seb86 commented on #31
Let me know if you get the same error.

[2016-04-21 15:49] seb86 commented on #31
@thenbrent, @franticpsyx If you change the subscription option on the first item, then it shows correctly under Subtotal and Recurring Total but not before. If you leave the options as is and just press "Update Cart" nothing changes.

![Change option on the first item](https://cldup.com/LThRfCkctL.png)

[2016-04-21 18:48] thenbrent commented on #31
@seb86 in the first screenshot, you have the price on the `2016 Subaru ...` product set to be for `290€ for 1 month`. That means it is only one payment - there is no recurring total. That's why the extra 290€ is not shown on the recurring totals section.

That's also why when you change it to be `250€ / month for 6 months` the recurring total is displayed correctly.

This is correct behaviour.

[2016-04-21 18:48] #31 closed

[2016-04-21 18:51] seb86 commented on #31
@thenbrent Sorry about that. I clearly overlooked it.

[2016-04-21 19:08] thenbrent commented on #31
@seb86 no problem, we see this confusion occasionally and do have an option issue to change the UI to avoid it with v2.1 of Subscriptions: https://github.com/Prospress/woocommerce-subscriptions/issues/613

[2016-04-21 19:36] seb86 commented on #31
@thenbrent OK. That sounds great.

[2016-04-27 14:08] franticpsyx commented on #27
@jraviz We need to stick with the default WooCommerce Subscriptions way here (can't change it from the SATT side), which (I think) is to include Add-ons in the recurring price. @thenbrent is that accurate?

[2016-04-27 18:05] thenbrent commented on #27
Assuming you mean this [Product Add-ons](https://www.woothemes.com/products/product-add-ons/) extension, yep, that's right, based on my vague memory of last time I looked at it and this line of [the docs](https://docs.woothemes.com/document/product-add-ons/):

😄

[2016-05-04 13:48] kirillminiaev opened #33 "Composite Product Discounts & Free Shipping Options"
Based on my experiments and research, it seems that as of right now, this plugin does not support subscription discounts on variable products that are subordinate to a composite product. Is that correct? Every time I try to change the price for various subscription time-periods for the child variable product, the plugin does not recognize the price difference (be it a % difference or a static "Ove

[2016-05-05 13:20] franticpsyx commented on #33
@kirillminiaev StATT is untested for this use case.

Composite products support is limited to attaching Subscription options at Composite product level.

If you have attached Subscription schemes to any product that is part of a Composite, things may not work as expected.

We are planning to look into this and address it as part of implementing full support for complex product types.

Unfortunatel

[2016-05-05 13:20] #33 closed

[2016-05-05 15:17] kirillminiaev commented on #33
@franticpsyx Thank you for your response. The subscription options were attached at the Composite product level. My apologies if this wasn't clear from my original message.

Re: Free Shipping, understood. Will consider workarounds.

[2016-05-05 15:38] franticpsyx commented on #33
Possibly related: https://github.com/Prospress/woocommerce-subscribe-to-all-the-things/issues/20 ?

[2016-05-05 15:39] kirillminiaev commented on #33
@franticpsyx That's what I figured. Any updates on the 1.1 milestone? I will wait for it.

[2016-05-05 15:49] franticpsyx commented on #33
Hard to say. All issues added to the 1.1 milestone (https://github.com/Prospress/woocommerce-subscribe-to-all-the-things/milestones/1.1) are quite complex and the resources we can dedicate to StATT development at the moment are more limited than we'd like.

[2016-05-10 16:36] seb86 opened #34 "Incorrect billing period shown in Price Meta"
![Incorrect billing period](https://cldup.com/Vsoj9X4Xrh.png)

I think the screenshot speaks for it's self.

WC Version **2.5.5**
SATT Version **1.0.3**
Subscriptions Version **2.0.13**

[2016-05-12 19:30] #34 closed

[2016-05-12 19:32] franticpsyx commented on #30
See https://github.com/Prospress/woocommerce-subscribe-to-all-the-things/blob/master/includes/class-wcsatt-schemes.php#L159

The filter can be used to apply the percentage on top of the sale price :)

[2016-05-12 19:36] seb86 commented on #34
@franticpsyx Great job. :+1:

[2016-05-12 19:43] seb86 commented on #30
@franticpsyx OK but the average user who does not know how to code is not going to know that filter is available so should we not then add a new option to deterin the result of that filter?

If not then at least put some kind of message in the product panel to notify the user what happens. What do you think @thenbrent ?

[2016-05-12 19:49] thenbrent commented on #30
@franticpsyx what was the thinking behind using the regular price by default instead of the sale price?

I'm inclined to agree with @seb86 that the default behaviour should be to honour the `$price` value so that sale prices and other filters applied to the product's price are honoured before applying the SATT discount.

[2016-05-12 20:32] franticpsyx commented on #30
It was based on user feedback from the Product Bundles extension, where (oddly) I had quite a few requests to have discounts applied on top of regular prices to avoid sale prices propagating into bundles.

Similarly in this case, my thinking was that people may temporarily want to have a sale price applied for a limited time when doing a one-off purchase, without affecting the subscription scheme

[2016-05-12 20:37] #27 closed

[2016-05-12 21:11] thenbrent commented on #30
Hrm, yeah I thought it may have been related to Bundles where it makes sense... the second use case of temporary sales also makes sense.

I think we can probably preserve the current behaviour and instead of changing it, try to avoid the confusion by being explicit about what will be discounted by changing the `Discount %` label to say `Discount Regular Price (%)` (e.g. https://cloudup.com/cfnw7hr

[2016-05-13 13:09] #30 closed

[2016-05-19 15:47] shadimanna opened #36 "'Invalid recurring shipping method.' and new WC Subscriptions v2.0.14"
After upgrading to WC Subscriptions v2.0.14 we are getting this error 'Invalid recurring shipping method.' for simple products that have a subscription option using WSATT plugin.  It seems WC Subscriptions v2.0.14 adds a validation in the file 'wp-content/plugins/woocommerce-subscriptions/includes/class-wc-subscriptions-cart.php' function 'validate_recurring_shipping_methods()' that adds some sort

[2016-05-19 19:54] franticpsyx commented on #36
@thenbrent Not sure what might be going on here after looking at Subs code a couple times. Inline doc of `class-wc-subscriptions-cart.php` is OK, but I'm missing some background that I'd need to be fully able to grasp the underlying logic.

[2016-05-19 20:04] franticpsyx commented on #2
Closing - scale tipped to adding support at product level, for now. For details, refer to #32 and #35 .

[2016-05-19 20:04] #2 closed

[2016-05-19 20:22] thenbrent commented on #36
@franticpsyx yeah, we do some pretty crazy things with recurring shipping from v2.0.12 onwards in Subscriptions, and shipping gets _really_ complicated, so I want to save you going down that rabbit hole!

I've assigned this one to me so will tackle it. For reference, it would have been introduced with https://github.com/Prospress/woocommerce-subscriptions/pull/1358

[2016-05-19 20:31] thenbrent commented on #36
@shadimanna if you have a site you can easily test v2.0.14 on again, would you mind changing line 258 of `woocommerce-subscriptions/includes/class-wc-subscriptions-cart.php` from:

[code]

To:

[code]

And letting us know if that fixes it?

That fix is from a separate, but possible related, issue (https://github.com/Prospress/woocommerce-subscriptions/pull/1404).

[2016-05-19 20:38] franticpsyx commented on #36
@thenbrent In case it helps, I'm also getting a `PHP Notice:  Undefined index: every_2nd_month_0 in /wp-content/plugins/woocommerce-subscriptions/includes/class-wc-subscriptions-cart.php on line 1070`

Ops, sorry, just noticed. Dived straight to the code as soon as I saw the notification.

[2016-05-20 10:45] shadimanna commented on #36
@thenbrent I tried your fix but it still seems to be happening. Do you want me to give you access to the staging site so you can take a look?  If not let me know and I can test another fix.

[2016-05-20 17:17] thenbrent commented on #36
@shadimanna that would be a great help. Please email temp admin creds to support@prospress.com. 😄

[2016-05-25 19:44] thenbrent commented on #36
We’ve now fixed this issue in Subscriptions. The PR with the fix here: https://github.com/Prospress/woocommerce-subscriptions/pull/1404 (for those with access to the repo).

We plan to release that this week in a version 2.0.15. Closing this one now. Thanks for the report and help @shadimanna. 😄

[2016-05-25 19:44] #36 closed

[2016-05-25 22:26] ClearMarble opened #37 "Different shipping options for subscribed items"
I'm loving this extension, it really fills a huge gap in Woocommerce functionality.

I'm wondering is there any way to identify regular items that are converted to subscriptions in cart so you can apply different shipping rules?

With regular WC Subscriptions you'd have to create a whole separate subscription product and could just assign it a shipping class...but naturally that doesn't work for t

[2016-05-26 12:14] franticpsyx commented on #37
@ClearMarble I'd say there are 3 options:

- `WCS_ATT_Schemes::get_active_subscription_scheme_id( $cart_item )`: A returned value other than `'0'` indicates that the cart item has been converted to a subscription.
- `WCS_ATT_Schemes::get_active_subscription_scheme( $cart_item )`: A result other than `false` indicates that the cart item has been converted to a subscription.
- Use `WC_Subscriptions_

[2016-05-26 12:17] franticpsyx commented on #37
Yes, you need to pass the entire product into the function. Using the product id alone, it's impossible to tell what the "subscription state" of the cart item is (use option 3 above). If you want to get even more specific than this and need to get the id of the active subscription scheme, use options 1/2 above.

@thenbrent

[2016-05-26 12:19] #37 closed

[2016-05-27 13:19] seb86 opened #38 "Support Type: Product Bundles - Pull in the regular price and sale price from a variable product"
@thenbrent, @franticpsyx I have a possible client that would like the "Regular Price" and "Sale Price" to be pulled from the relevant "Variable Product" which then affects the subscription price.

I have not yet checked but is this possible already and if not, is it something we could add?

[2016-05-27 13:32] franticpsyx commented on #38
@seb86 Feel free to have a look at the `issue-20` branch. It's still work-in-progress, but basic Variable Products support should work without issues. I'm recommending having a look at `issue-20` instead of `master` since I've made some slight architectural changes needed to support complex product types.

[2016-05-27 13:35] seb86 commented on #38
@franticpsyx OK. That sounds great.

[2016-05-31 17:54] seb86 opened #39 "Simple Product, Single Sub Option, Forced Subscription"
![Simple Product, Single Sub Option, Forced Subscription](https://cldup.com/a01tvwE-ov.png)

@franticpsyx Found another bug... I think. Could you check to see if this is correct and if you get the same?

I created a new simple product and only added one subscription option with a price override of 50 and enabled force subscription. Nothing else.

No "Add to Cart" button shows.

[2016-06-01 08:05] franticpsyx commented on #39
@seb86 Thanks for reporting this.

It's a known issue that I've come across quite often in the past: WooCommerce products need to have a non-empty price set. There is a core limitation in the cart class where a product is checked using `is_puchasable()` before session data can be overridden. Therefore, even if we filter the output of `is_purchasable()` to avoid this issue, adding to cart will stil

[2016-06-01 10:52] seb86 commented on #39
@franticpsyx What if when the product is saved, if these conditions are met, then we set the regular price on the product level as zero. That way WooCommerce thinks that the original regular price of the product is free allowing the item to be added to the cart and for the price override to do its job.

![Regular Price set to Zero](https://cldup.com/KFevSPmFGN.png)

[2016-06-01 10:59] seb86 commented on #1
@franticpsyx @thenbrent I'm getting more requests to support this mini extension and recently a couple of clients are wanting to have at least the free trial option available.

Is this something we can work on to add soon or are you both not wanting it just yet?

[2016-06-01 11:22] franticpsyx commented on #1
@seb86 Might be a good idea to redirect them here - I'd love to see existing use cases for SATT?

At the moment we are targeting to close most pending issues for v1.1 and then make any adjustments needed for the release. Then, @thenbrent and I were planning to review all issues and see what else we'd like to include in the next release.

I don't think we should rush this for v1.1, but if these fea

[2016-06-01 11:30] franticpsyx commented on #39
We could consider that, yes. The `price` meta is also used to show Price Filter Widget results, so we could generalize your idea and look at the "cheapest scheme" price (there's already a function for that), then set the regular price based on that, if empty.

[2016-06-01 11:44] seb86 commented on #39
@franticpsyx Sounds like a plan.

[2016-06-01 12:09] seb86 commented on #1
@franticpsyx The clients are still building their stores.

This is one of the scenarios they are attempting to achieve for a subscription for men tailored to their needs to shave.

A razor, razor blades and range of daily face wash. Only two products are configurable, the rest are pre-configured in the package. This is done using the "Composite Products" extension.

They want to make the composite

[2016-06-01 12:55] franticpsyx commented on #1
CP support is still pending in the `issue-20` branch.

Might be a bit of a challenge. You are looking at:

- Displaying + saving the relevant settings.
- Doing some additional product modifications when converting the product to a sub in https://github.com/Prospress/woocommerce-subscribe-all-the-things/blob/master/includes/class-wcsatt-cart.php#L147
- Adding some code to ensure html price strings

[2016-06-01 13:42] seb86 commented on #1
Are you making more adjustments this week then?

I have yet to try but we may need to provide the option to **not override the price** on a subscription option so that the configured price based on what the customer has chosen on a "Composite Product" is what they pay.

Could you add filters on the returning data such as this one: https://github.com/Prospress/woocommerce-subscribe-all-the-things/b

[2016-06-01 13:52] franticpsyx commented on #1
I think so, yes. I was hoping to find some time to work on full Composite Products support this week.

Of course. The "composited" items prices should not be overridden when the "Override Price" option is used. This should only affect the Base Price of the container item. On the other hand, the "Discount" option will affect all cart items.

If @thenbrent agrees, I would suggest doing this as follo

[2016-06-01 14:04] seb86 commented on #1
OK @franticpsyx That sounds like a solid plan.

[2016-06-01 19:02] thenbrent commented on #1
Yep, sounds good.

It also means the functionality should be discrete, so we can keep it separate if/when it is merged into core rather than pilling more functionality onto existing functions/classes.

[2016-06-02 06:29] pinical opened #40 "Potential bug found - abandoned cart - when customer goes back to pay, creates additional products in cart"
I have a scenario where I am entering in manual orders for customers who have come into a winery and want to join a wine club which I have set up as a subscription product for a composite product using this "Subscribe all the things" mini extension.

They pay for the first wine cub order through the til at the winery, and later have to be added to the website. In order to get around the fact that

[2016-06-02 07:16] franticpsyx commented on #40
@pinical Thank you for reporting this! I hope this is not happening on a live website, though. As mentioned in all resources linking to this repository/plugin (such as https://docs.woothemes.com/document/composite-products/composite-products-mini-extensions/) Subscribe All the Things is an experimental plugin that should be considered as beta and not relied upon for production / live websites, for

[2016-06-03 14:24] franticpsyx commented on #39
Leaving open. Considered as low priority.

[2016-06-03 14:34] franticpsyx commented on #20
Task list:

- Integrate with Bundles/Composites front-end app to obtain up-to-date price-overridden totals and display them next to each SATT sub option.
- Ensure that when a single SATT scheme exists and the "Force Sub" option is checked, all product prices will be overridden on the server side before loading the page. In the case of CP, some additional work is required to ensure that prices in a

[2016-06-07 11:12] #20 closed

[2016-06-07 11:13] franticpsyx commented on #38
Merged `issue-20` into master - CP and PB releases required to test `master` for compat are on the way later today / tomorrow.

[2016-06-07 11:13] #38 closed

[2016-06-07 12:04] #26 closed

[2016-06-07 12:07] franticpsyx commented on #26
Changed options arrays to use id-based keys in template files.

Left all other code intact as explained above, on standby for possible bigger changes later on. Closing for now.

[2016-06-07 14:29] franticpsyx commented on #40
Fixed in CP v3.6.6, pending release.

@thenbrent I've noticed that when attempting to pay for a SATT product order that was left pending, the satt product is no longer converted to a subscription and any price overrides are lost (of course).

So we probably need to add some SATT-related order item data when creating the order, and use it to convert the (re-populated) cart items back to their initi

[2016-06-09 08:09] franticpsyx opened #42 "SATT Products API"
### Objective

Currently, most logic and data needed for "converting" `WC_Product` objects to subscription-enabled objects are scattered all over the place, for instance:
1. scheme data is only accessible from post meta, while
2. the active subscription scheme id is stored only in the cart item array
3. subscription details are stored as object properties by WCS

(1) and (2), as well as all associ

[2016-06-09 08:22] franticpsyx commented on #42
See https://github.com/Prospress/woocommerce-subscribe-all-the-things/blob/oop/includes/class-wcsatt-products.php and https://github.com/Prospress/woocommerce-subscribe-all-the-things/blob/oop/includes/class-wcsatt-product.php to get an idea of the concept.

No matter which method we choose, 1, 2a, 2b, or 3, we'll need to agree on an interface that our new object will implement. Not that hard, sin

[2016-06-15 22:28] seb86 opened #43 "Lowest Price is not showing first in Product Meta"
@thenbrent and @franticpsyx I thought the whole point of the price in the product meta data is suppose to be starting **from** the lowest price available. This is not showing the lowest price or am I missing something?

![Lowest Price is not First](https://cldup.com/eXp627EENP.png)

[2016-06-16 18:05] franticpsyx commented on #43
@seb86 Are you working with latest `master` branch?

[2016-06-16 19:03] seb86 commented on #43
@franticpsyx Yes. v1.1.0

[2016-06-17 17:11] fcponline opened #44 "Possibility to add Product Bundle to Cart via URL??"
Hello,

We are using Subscribe to All Things successfully with Product Bundles. We can create Bundles and Subscription levels.  Now we are trying to add a Product Bundle / Subscription via a URL string.

We can get the Parent Product and Total price in the Cart, but not the Child Products.

Here are a few of our attempts...

https://www.staging5.website.com/?post_type=product&add-to-cart=4089&bund

[2016-06-17 17:55] fcponline commented on #44
We have also tried to follow the format of Group Products but it does not work....

http://yourdomain.com/?add-to-cart=3111&quantity[1803]=5&quantity[1903]=2

Any ideas how we could make this work?

Thanks

FCP

[2016-06-18 09:32] franticpsyx commented on #44
@fcponline This is definitely possible with Product Bundles, however this is not a place to get PB support - please open a support ticket at WooThemes helpdesk, asking for input from an extension dev if necessary.

[2016-06-18 09:32] #44 closed

[2016-06-20 22:59] seb86 commented on #43
@franticpsyx It seemed to be that Git did not pull all the changes 100% at the time. I have refreshed and now appears to be working fine.

[2016-06-20 22:59] #43 closed

[2016-06-21 21:08] buckneri commented on #1
The frequency setting for monthly/daily/yearly doesn't make sense.

When you set Monthly it tallies the price and sets it to a monthly payment.
Yearly should do the same and multiply by 12 instead it just charges the same amount once per year.

This may be the designed functionality, but i'm at a loss for what product you would sell for $50/month but give the customer the option to only pay $50 pe

[2016-06-21 21:53] thenbrent opened #46 "Confusion with frequency setting"
From @buckneri on https://github.com/Prospress/woocommerce-subscribe-all-the-things/issues/1#issuecomment-227572523

[2016-06-21 21:54] thenbrent commented on #1
@buckneri please open a new issue for raising new issues like that. You can open a new issue here: https://github.com/Prospress/woocommerce-subscribe-all-the-things/issues/new

I've gone ahead and opened a new one to address this: https://github.com/Prospress/woocommerce-subscribe-all-the-things/issues/46

[2016-06-21 21:57] thenbrent commented on #46
I'm not sure what you mean here. Neither Subscriptions nor SATT "tallies the price". They will both display whatever price is set for whatever billing period the store manager chooses for that price.

Can you share a screenshot to explain the issue?

[2016-06-21 22:44] seb86 commented on #1
@franticpsyx and @thenbrent I have added filters that I require for my extension. I don't think I will need any others at this point. Let me know if you have any issues.

[2016-06-22 07:49] franticpsyx commented on #46
SATT allows customers to purchase products on a recurring basis - in the most thorough possible way. For instance, if a customer wishes to purchase a bottle of milk on a recurring basis, they will need to pay the same bottle price, regardless of whether they choose to receive it once every month or once every day.

If, on the other hand, you wish to offer multiple subscription options for a produc

[2016-06-22 07:49] #46 closed

[2016-06-26 21:44] pmgarman opened #48 "Calling WCS_ATT_Cart::convert_to_sub() by itself throws fatal error"
`WCS_ATT_Cart::convert_to_sub( 'cart_item_key' );`

[code]

[2016-06-27 07:14] franticpsyx commented on #48
@pmgarman

`convert_to_sub` accepts a single `array` argument (see doc block). Can you explain how you are attempting to use it?

[2016-06-27 18:04] seb86 commented on #1
@franticpsyx and @thenbrent I have added you both as collaborators for the extension I have developed for this extension. I only seem to have [one issue](https://github.com/seb86/woocommerce-subscribe-to-all-the-things-signup-trial-add-on/issues/1) which I have not been able to figure out.

Would you mind spending a few minutes testing out what I may have missed?

[2016-06-28 20:08] seb86 commented on #1
@franticpsyx and @thenbrent I have added two new filters for the lowest subscription scheme option.

[2016-07-15 10:04] franticpsyx commented on #48
Closing after our chat on Skype.

@pmgarman have you resolved that issue with variable products? I wasn't able to replicate.

[2016-07-15 10:04] #48 closed

[2016-07-15 10:11] franticpsyx commented on #42
@thenbrent Did you have a chance to take a look?

I still find the wrapper to be an interesting idea, it seems to introduce an extra load time overhead in all pages with products, but I haven't checked XDEBUG to see exactly where it's coming from. I am suspecting that the use of magic methods in the wrapper class ( https://github.com/Prospress/woocommerce-subscribe-all-the-things/blob/oop/includes

[2016-07-15 14:05] seb86 opened #49 "JavaScript triggers for third party extensions"
@thenbrent @franticpsyx It would be great if we could have some triggers put in place so third party extensions could integrate as well. Would this be possible before the release of v1.1?

[2016-07-15 15:52] seb86 commented on #39
@franticpsyx I have addressed this in this commit  342cf14d7a87789d3b00f4c0e9385ebb6d82bf8a

[2016-07-15 17:10] seb86 commented on #49
I'm still learning Javascript so would this trigger work if placed after [line 207](https://github.com/Prospress/woocommerce-subscribe-all-the-things/blob/master/assets/js/wcsatt-single-add-to-cart.js#L207)?

`this.trigger( 'wcsatt-update-composite-price', [ scheme_price_html, scheme ] );`

[2016-07-15 17:16] seb86 commented on #49
Same trigger for product bundles.

`this.trigger( 'wcsatt-update-bundle-price', [ scheme_price_html, scheme ] );`

[2016-07-15 17:25] franticpsyx commented on #49
@seb86 We can definitely add a couple triggers in there. Just a word of caution, though - we are discussing plugins... of a beta mini-extension... of an extension... of a WP plugin. :)

[2016-07-15 17:26] franticpsyx commented on #49
...oh and this specific script is actually plugging into the script of another extension (PB).

[2016-07-15 17:27] seb86 commented on #49
@franticpsyx Considered me warned but it should still work... right?

[2016-07-15 17:33] franticpsyx commented on #49
Hehe -- right!

But being at the end of a chain that includes "experimental" or "beta" parts is definitely not for the faint hearted :)

[2016-07-15 17:33] seb86 commented on #49
... and then something like this can be used.

[code]

[2016-07-15 17:51] franticpsyx commented on #39
Better open separate PRs for different things - but I'm happy to keep that in #49 for now. Thanks!

[2016-07-15 17:51] #39 closed

[2016-07-15 17:53] seb86 commented on #39
@franticpsyx OK

[2016-07-15 19:12] thenbrent commented on #42
@franticpsyx sorry not yet. I'll try to make some time next week or the week after. It's still on my todo-list, but final Subscriptions v2.1 todos are getting priority atm.

Yeah, we've doing a lot of work on performance the last few months (some improvements already released, some not coming until v2.1, and some possibly not coming until v2.2 or maybe never, see: https://github.com/prospress/wooc

[2016-07-19 01:59] airmanzea opened #50 "Problem Changing Shipping Method in Cart & Checkout with Bundled Product Subscriptions"
Hello,

First I would like to say thanks for all the work that is going into this plugin. I do however have an issue that I have been troubleshooting for the last 4 weeks and I have narrowed it down to this plugin. Ill provide the details below.

**_NOTE: I will gladly donate $100 towards the development team for anyone that can help me fix this problem!_**

**Environment Details**:

**Wordpress V

[2016-07-21 19:15] davidcubecities opened #51 "Integration with Variable Products"
I know integration with Variable Products has been brought up before.
Was just wondering if it's possible yet, or not?
I know there is a "Variable Subscription" option, but we want to be able to have a variable product with a standard price, and also a subscription option.

Thanks in advance.

[2016-07-21 19:17] greguly commented on #50
Hi Josh,

I have sent you an email, but got no response.

Did you got this fixed?

Cheers,
Gabriel

[2016-07-21 19:26] airmanzea commented on #50
Gabriel,

I am sorry I must not have seen that email come in. However I have not yet
been able to fix this. Do you think that you would be able to help? It
would be greatly appreciated on my end!

V/R

*Joshua Barnes, M.S. PMP*
Vice President - K9Cuisine, Inc
*E*: josh.barnes@k9cuisine.com
*P*: 1-866-919-2415

On Thu, Jul 21, 2016 at 2:17 PM, Gabriel Reguly <notifications@github.com>
wrote:

--
 <

[2016-07-21 19:33] greguly commented on #50
it seems to me that the issue is within shipping.

https://rocksolidtraining.com/product/whey-protien-isolate/?attribute_pa_flavor=cake-batter

If you add the above product to the car and make it monthly, you will see the one time shipping option changing the recurring shipping option.

[2016-07-21 19:39] airmanzea commented on #50
I agree, if you add just one of those regular products to the cart then it
seams to work at least somewhat better.

However, If you add the product below to the cart then it does not allow
you to change shipping methods. The product below is a bundle that includes
a membership (virtual product) and 1 physical product of your choice. I am
using your extension so that when the subscription renews, i

[2016-07-21 19:43] greguly commented on #50
It is still broken with the regular product, I would advise checking that issue first at looks to be a less complex than your product bundle.

[2016-07-21 19:45] airmanzea commented on #50
So you think that the issue is within one of the shipping plugins? Sorry
just wondering if you had in guesses as to where to look.

V/R

*Joshua Barnes, M.S. PMP*
Vice President - K9Cuisine, Inc
*E*: josh.barnes@k9cuisine.com
*P*: 1-866-919-2415

On Thu, Jul 21, 2016 at 2:43 PM, Gabriel Reguly <notifications@github.com>
wrote:

--
 <http://www.k9cuisine.com/>
*Purchase Premium Pet Food and Product

[2016-07-21 19:57] greguly commented on #50
Nope, the shipping plugins shall be good.

The issue seems to be within the shipping component of this extension.

[2016-07-21 20:24] thenbrent commented on #51
Hi @davidcubecities we have added code to allow Variable level subscription options. It was added in https://github.com/Prospress/woocommerce-subscribe-all-the-things/pull/35 There is some info explaining how it has been implemented on that page.

I don't think that is in a tagged version yet, but it is in the `master` branch if you want to play around.

We're holding off on adding variation level

[2016-07-21 20:24] #51 closed

[2016-07-21 20:51] seb86 commented on #51
@davidcubecities I actually started working on adding support to allow subscription options on the variation level but I have yet to complete it and from previous feedback it would be best to make it available as a seperate extension as it doubles the amount of the code base.

Would you like to discuss further privately?

[2016-07-21 21:06] davidcubecities commented on #51
Thanks for the quick replies guys.
Yeah sure, feel free to send me an email at david@strategiesforsuccess.ca

[2016-07-21 21:35] franticpsyx commented on #50
Can't replicate - issue looks unrelated to SATT. Does the issue go away if you disable SATT?

[2016-07-21 21:35] #50 closed

[2016-07-21 21:41] franticpsyx commented on #51
Just download the `master` branch or https://github.com/Prospress/woocommerce-subscribe-all-the-things/releases/tag/v1.1.0-RC1

v1.1.0 will be tagged once we close #49 - probably within the next couple days :)

[2016-07-21 21:47] airmanzea commented on #50
The issue does disappear when I disable SATT, however disabling that also
disables the subscription capability for the bundled products. Ill take a
look again at the code to see if I can try to narrow it down more. Thank
you.

V/R

*Joshua Barnes, M.S. PMP*
Vice President - K9Cuisine, Inc
*E*: josh.barnes@k9cuisine.com
*P*: 1-866-919-2415

On Thu, Jul 21, 2016 at 4:35 PM, Manos Psychogyiopoulos <

[2016-07-21 21:58] seb86 opened #52 "Possible Important Bug Found - Any product with subscription options fails in the cart"
I'm still looking into this problem but for some reason, the cart item data is not being added or at least I think is not being added and the item price appears like so: `10,00€ / Array.`

I also get an error reported in `wp-content/plugins/woocommerce-subscriptions/includes/class-wc-subscriptions-product.php on line 382`

I'm not sure what is causing this but I wanted to report this before we mar

[2016-07-21 22:34] seb86 commented on #51
@davidcubecities I have  :e-mail: you.

[2016-07-22 01:16] seb86 commented on #52
Never mind. I found the issue. Nothing to do with this plugin. Works fine. :+1:

[2016-07-22 01:16] #52 closed

[2016-07-22 07:00] franticpsyx commented on #50
Could be an issue with a specific shipping method and Subscriptions, but it's also likely that there might be something specific about SATT that a shipping method doesn't like? Core shipping methods seem to work fine for me, so the next step would be to deactivate your shipping method extensions one by one and re-test.

Might be a good idea to empty your cart between each test.

[2016-07-22 08:23] #49 closed

[2016-07-22 12:37] seb86 commented on #49
@franticpsyx Sorry if I held you back with the release because of my sudden absence. I had yet to get around to testing my idea and was busy with a client. Thanks for pushing this.

[2016-07-22 12:49] seb86 commented on #1
@franticpsyx, @thenbrent Is this next?

[2016-07-22 15:16] franticpsyx commented on #1
@seb86 Noap - we'll be reviewing the SATT architecture before working on new features. See https://github.com/Prospress/woocommerce-subscribe-all-the-things/issues/42 - we need to somehow merge all the scattered logic in one place and provide a more centralized way (OO) to manage the subscription "state" of a product. :)

[2016-07-22 19:49] thenbrent commented on #42
Hey @franticpsyx, I've finally made some time to review/think about this, especially the changes in the OOP branch: https://github.com/Prospress/woocommerce-subscribe-all-the-things/compare/oop

The concept of forcing all products to be instantiated via `WCS_ATT_Product` is equal parts brilliance and madness. 😆

I like the concept of being able to control the objects used for all products, but I i

[2016-07-25 08:26] seb86 opened #53 "Support One Time Shipping"
How comes this is not yet available and what is needed to support it?

I assume we would put it in the same place as the default subscription product types under "Shipping" as it would apply to all subscription schemes.

![One Time Shipping](https://cldup.com/EUke3MoDiR.png)

To me, I see the schemes are only for the pricing and billing conditions.

@thenbrent @franticpsyx Do you both agree?

[2016-07-25 08:28] franticpsyx commented on #42
Good points against that approach. My thinking was the all the issues *could* be weighted against the benefits to consider this as a possible solution, especially, since I couldn't find any obvious issues with WC core and Subs.

My main point was to outline that at the very least, I would like us to have a way to maintain the Sub state of a `WC_Product` in every instance. The problem right now is

[2016-07-25 08:43] seb86 commented on #53
Here is my pull request. https://github.com/Prospress/woocommerce-subscribe-all-the-things/pull/54

[2016-07-25 09:05] franticpsyx commented on #53
@seb86 The long-term goal is to have all subscription product-type options available in every subscription scheme. We'll be pushing for this once we have dealt with #42

I'd like to clean up the scheme logic before building new features into it, but you are right that this is one of the things that needs to be looked into.

[2016-07-25 09:21] franticpsyx commented on #42
@thenbrent Modified the issue title into something more tangible.

If you agree about the idea of storing scheme + sub state data in product instances, then it might make sense to start refactoring SATT and see if there is anything in WCS that prevents this concept from working:

We can postpone the WCS refactor discussion until when we have a SATT codebase that we are happy to use as a base for b

[2016-07-25 09:23] seb86 commented on #53
@franticpsyx I think what I have done for now works great as a temporary measure and one that is needed now even if we don't add any other features for a while until you have refactored how the product subscription scheme data is saved. What do you think?

[2016-07-25 09:32] franticpsyx commented on #53
@seb86 It's really a matter of prioritization - no matter how big or small, I'd rather avoid adding a feature until we have a clear idea of what API changes need to go into v1.2 or v2.

[2016-07-25 09:36] seb86 commented on #53
@franticpsyx OK that's fine. I just did it quickly because a client is using this extension for composite products and emailed me to say the standard subscription option for shipping one time was not there which I thought it was already.

[2016-07-25 09:52] franticpsyx commented on #42
Regarding these, I couldn't agree more, of course.

I don't see a way to re-use logic for admin UIs at the moment, but I can live with that for now.

What I **hope** is that I can use WCS filters to avoid setting a bunch object properties explicitly whenever I want to "apply" a sub scheme -- and instead rely on setting a single state id to change how WCS sees all these subscription product feature

[2016-07-26 13:23] glagonikas opened #55 "Coupons not working properly"
I've noticed coupons don't appear to work when SATT is combined with Composite Products (not sure if that affects other product types also).

I've tried the options including "Basket % Discount" and "Recurring Product % Discount" and they both appear to have different issues.

# Case 1
## Setup
1. Create a composite product with price X. On Shipping options select an option that incurs a shipping

[2016-07-26 17:37] thenbrent commented on #55
Hi @glagonikas, thanks for the thorough report! It helps a lot.

I think this relates closely to #33 (though the scope of this issue is greater than that in #33).

That might provide you with an answer, even though it's likely not the answer you want. 😞

Otherwise, I'll let @franticpsyx answer as he's the Composite Products guru. 😄

[2016-07-26 18:34] franticpsyx commented on #55
Hey @glagonikas - thanks for the report!

**Case 1**

SATT doesn't provide a "Free Trial" option under the "Subscriptions" tab. Are you using a 3rd party plugin/extension to add it?

**Case 2**

I think that the Recurring Discount options are added by WCS ( @thenbrent ? ) , so perhaps there is an incompatibility between the way these specific coupons are handled and SATT.

However, again note that

[2016-07-27 12:09] seb86 commented on #55
@franticpsyx I have not tested coupons with SATT yet but I would have thought the coupons would be unaffected. I have linked below what @glagonikas is using with SATT.

Sign-up and Trial for SATT is supported [here](https://github.com/seb86/woocommerce-subscribe-to-all-the-things-signup-trial-add-on).
Shipping fee is forced on the initial order on subscriptions that have a free trial using [this f

[2016-07-27 15:01] franticpsyx commented on #55
@seb86 SATT is already quite fragile/complex to start with, so I'm afraid I won't be able to look into anything that includes other dependencies. I hope this is understandable!

Once we officially add support for Free Trials and other WC Subs features, I'll be happy to look into any associated issue.

[2016-07-27 15:01] #55 closed

[2016-08-02 02:11] seb86 opened #56 "Undefined index: subscription_pricing_method"
This error is on the single product page and when a composite product is in the cart only.

If you had a composite product in the cart and then removed it, the error is gone.

**Undefined index: subscription_pricing_method**

The file and line number this is related to: `includes/class-wcsatt-integrations.php#L401`

[2016-08-04 12:09] fcponline opened #57 "Cart Subscription Discounts"
Hello,

Is it possible to add discounts to the Subscribe to Cart settings like in the individual product subscription settings?

This would be an excellent feature.

Thanks,

FCP

[2016-08-10 13:53] cte2087 opened #58 "Product Data panel - No Subscriptions Tab"
Hello and Thank You for this mini plugin!
I have been trying to accomplish this the long way by linking and grouping.
I have uploaded and activated the the plugin, but I am not seeing the same options as shown in your set-up screenshots. I have Woo Subscriptions current version over the required 2.0. Woo is also current and up to date. Is there something I might have missed in my set up....or poss

[2016-08-15 15:31] seb86 commented on #58
This extension does not add a checkbox to show the subscriptions tab section. Not sure how you have got that.

[2016-08-16 17:08] Multicade opened #59 "Can't Save Options"
Seems to be an amazing plugin! I can't seem to save the options on cart based or individual. Everything seems to function, (dropdown options etc.) but when I save, the page reloads as if it saved but nothing happens. It defaults to "array"

Any help would be greatly appreciated

[2016-08-16 17:13] seb86 commented on #59
@Multicade Perhaps you could give a little more information than just "Can't Save Options".

[2016-08-16 17:28] Multicade commented on #59
Hi thanks for the quick reply,

Here are the plugins im using: https://gyazo.com/02b2304342e93e7ba40d5d69265afb88

Here is the setting that won't save: https://gyazo.com/754a46bcf48fe6c158b8445df8f2800a

When I hit save at the bottom of the page here: https://gyazo.com/d1c224e51a35d1c55a1ad5ddaf266370

The page refreshes as if it saved, but still shows this: https://gyazo.com/754a46bcf48fe6c158b84

[2016-08-16 17:39] seb86 commented on #59
You might want to update WooCommerce and WooCommerce Subscriptions. See if that helps. Not sure why you are getting an `Array` on the third select field.

[2016-08-16 17:41] Multicade commented on #59
Okay sounds good.. I will do that an let you know if that fixes the problem.

Thanks again

SCOTT MCDONALD
OWNER | DESIGNER
OFFICE: 209.479.7600
CELL:     209.423.5824
scott@monsterdesignstudios.com
www.monsterdesignstudios.com

This message contains confidential information and is intended only for the
individual named. If you are not the named addressee you should not
disseminate, distribute or

[2016-08-17 01:39] #53 closed

[2016-08-17 01:43] seb86 opened #60 "Quantity update in cart fails"
I noticed that you can not update the quantity of an item unless you change the subscription scheme as well.

I'm not sure if this is affected by having more than one subscription scheme option for the product or not but simply changing the quantity does not work on a simple product with subscription scheme options.

[2016-08-18 15:00] Multicade commented on #59
It worked! Just updated woocommerce to current and solved the issue..

Thanks!

SCOTT MCDONALD
OWNER | DESIGNER
OFFICE: 209.479.7600
CELL:     209.423.5824
scott@monsterdesignstudios.com
www.monsterdesignstudios.com

This message contains confidential information and is intended only for the
individual named. If you are not the named addressee you should not
disseminate, distribute or copy this e-

[2016-08-22 18:45] #59 closed

[2016-08-26 11:35] fcponline commented on #60
We have not seen this particular problem but we have lost the quantity fields when we choose product bundles as the product type.  Subscriptions are fine but the quantity fields disappear completely.

[2016-08-26 13:16] javorszky commented on #60
Hm, how are you doing this?

I tried recreating this on my local dev site, and I could do it without a problem. I have a simple product setup, and STATT has 4 schemes (every week, every 2 weeks, every 3 weeks, every 4 weeks) attached to it.

I add one of the schemes (weekly) to the cart with a qty of 1. I visit the cart page.

* I can change the qty to 4 without changing the scheme.
* I can change

[2016-08-26 13:22] seb86 commented on #60
@javorszky I will have to get back to you on that as I can't remember the setup now.

[2016-08-26 13:31] seb86 commented on #60
I think it was when trying to lower the qty only. The product had 1 subscription scheme and forced subscription enabled with the price inherited.

[2016-08-26 14:19] javorszky opened #62 "Cart doesn't differentiate between StAtT products on different schemes"
Setup:

* product with 2 different schemes: "every week" and "every 4 weeks"
* add 1 x product with "every week" to the cart
* add 1 x product with "every 4 weeks" to the cart

Expected:

* 1 x "every week" product
* 1 x "every 4 weeks" product

Actual:

* in the cart, see that it is 2 x "every week"

[2016-08-26 19:51] #62 closed

[2016-08-26 19:54] franticpsyx commented on #62
Thanks for catching this, @javorszky 👍

Not sure why I used the `woocommerce_add_cart_item` filter there - using this can't result in unique cart ids being generated.

Committed a fix straight to `master`.

[2016-08-30 20:46] kevibethink commented on #12
Hey @franticpsyx - I just wanted to follow up on this as a few months have gone by and it's a feature I desperately need too. SATT solved a lot of issues I had with Woo Subscriptions and in my mind is how Woo Subscriptions should have been setup in the first place to allow single orders or subscriptions of the same product like Subscriptio does.

I had been using the hacky way of setting a daily s

[2016-08-30 20:52] franticpsyx commented on #12
Hey @kevibethink - what product type are you looking into?

I have been working on some Composite / Bundle features that should make subscription switching easier in SATT, but it might be easier to do it if you are working with Simple / Variable products.

Regardless, we'll need to approach this step by step, starting with the simpler product types and move gradually from there.

Unfortunately the

[2016-08-30 20:53] franticpsyx commented on #58
Closing since I can't replicate.

[2016-08-30 21:05] kevibethink commented on #12
Thanks for the quick response @franticpsyx

I have a simple product that can be purchased once or subscribed to weekly, bi-weekly, or monthly. I basically need a switch subscription button on the customer account page that will allow them to switch the subscription frequency at any time.

[2016-09-01 07:10] #56 closed

[2016-09-01 12:20] fcponline commented on #57
If we can apply discounts to individual product why cant they be applied at the entire cart level?

We have created a work around by dynamically applying coupons based on Subscription timeframe chosen. It works when we create all the button and actions. Not the most scalable solution.

[2016-09-01 14:10] franticpsyx commented on #57
Hey @fcponline - thanks for the feedback!

This is definitely on our radar, but unfortunately I don't have an ETA for this feature at the moment.

[2016-09-01 15:16] seb86 commented on #57
@fcponline Can you share your work around? Maybe we can use it as a starting point.

[2016-09-01 16:37] fcponline commented on #57
Hello guys @seb86 @franticpsyx Happy end of the summer! ;)

Our work around relies on WC Coupons / Super Coupons plugin that allows you to create all sorts of coupons.  Essentially from select places on our site we have used ajax to call on a custom function that applied the coupon that we have associated with the Subscr Timeframe...

Here is the basic code in the function...

`<?php
include('../.

[2016-09-01 16:53] fcponline opened #63 "Possibility of Subscribe Cart applied only to certain Category or Products"
Hello,

This is a radical idea / issue that we are faced with that we are solving 60% with WCSAT plugin and the Subscribe Cart feature.

Due to the fact that our custom coded payment gateway subscription plugin / and really all others, cannot manage multiple subscriptions created by the WCSAT applied to Product Bundles without a major upgrade to WC Subscriptions 2.0 and reworking your payment gate

[2016-09-01 18:27] thenbrent opened #64 "Don't trigger 'woocommerce-product-type-change' JS event every time users add a subscription scheme"
SATT currently triggers `woocommerce-product-type-change` every time users add a subscription scheme to a simple product here: https://github.com/Prospress/woocommerce-subscribe-all-the-things/blob/aeb6756d/assets/js/wcsatt-write-panels.js#L198

The product type doesn't change every time a new subscription scheme changes.

It only changes when the first scheme is added, or when the last scheme is

[2016-09-01 20:49] franticpsyx commented on #64
I don't see any need to trigger `woocommerce-product-type-change` in there at all, but I don't see why triggering this event one or a thousand times should have anything to do with other plugins/extensions. This is not the real bug here.

The real issue is that the One Time Shipping logic just doesn't work:

https://cl.ly/1d033Q3p1315

The script merged to support the "One Time Shipping" option in

[2016-09-01 20:49] #64 closed

[2016-09-10 03:48] seb86 commented on #1
Here is a working example of [synchronising subscriptions with SATT](https://github.com/seb86/woocommerce-subscribe-all-the-things-sync-add-on) currently in development. Was created for another client.

[2016-10-05 16:13] everlykyle commented on #12
Voicing love for this plugin extension (thank you!) and echoing the need for switching - both delivery frequency and products.

For simplicity for the customer, a subscription could be thought of as a basket. They can change how often the basket comes to them and what is in the basket each time.

For now, I am using Gravity Forms on a universal subscription product to allow customers to change wha

[2016-10-11 13:12] anthonysbrown opened #66 "Issue when adding to cart"
Hey guys, hows it going. first off just want to say thank you. this is exactly what we needed. I'm just having one issue. When choosing the one time purchase as default and adding to the cart it actually defaults to subscription. The odd thing is when i reverse it and set the subscription to be default then when adding to the cart it works as it should. Has anyone else had an issue like this? You

[2016-10-17 19:53] WillBrubaker commented on #12
@franticpsyx @thenbrent - got a FB DM about this. A friend of a friend type thing - looks like there might be some demand for it so.... 👍  :)

[2016-10-18 00:35] anthonysbrown commented on #66
As a work around I set it to the single product as default and used javascript to change it onload

[code]

[2016-10-18 11:05] franticpsyx commented on #12
Hey @WillBrubaker @everlykyle

While we do have plans for subscription switching, we will be looking at this at a product level first - considering the complexity of Bundles/Composites this is not going to be an easy task. Once this gets sorted, we will be looking into cart subscriptions switching, however I don't expect such a feature to be ready any time soon.

SATT development has been frozen d

[2016-10-19 09:23] javorszky opened #67 "Item option descriptions in cart are not escaped"
It's missing an `esc_html` or a `wp_kses`.

The description by default depends on the price of the product / scheme which does not allow arbitrary input on the back end, however there's the `wcsatt_cart_item_options` filter which can be used to change any of the descriptions to contain unsafe JS stuff.

That would be printed without escaping. To test, add this to your functions:

[code]

[2016-10-26 21:50] javorszky opened #68 "STATT product in resubscribe is not converted to sub"
To reproduce:

* WC 2.6.7
* WCS 2.0.20
* STATT `master` (https://github.com/Prospress/woocommerce-subscribe-all-the-things/commit/c8215bf3233ae4277b95197bb1e49ed3a20ea3ce)
* Add a simple product with an active scheme to the cart, check out
* confirm it's a subscription
* cancel it
* go to my account
* click the resubscribe (make sure settings allow for that)
* note that the cart totals are only fo

[2016-10-28 07:08] #68 closed

[2016-10-28 07:11] franticpsyx commented on #63
Unless you are working with Subscriptions v2.0+, we cannot provide any kind of support or look into any sort of issue.

Are you trying to use SATT with something else?

[2016-10-28 07:11] #63 closed

[2016-10-28 07:16] franticpsyx commented on #67
@javorszky Not sure what's considered as best practice, but if a plugin with an intent to do unsafe stuff can be installed and activated in the first place, the last thing it will want to do is hook into a SATT filter (?).

[2016-10-28 07:17] franticpsyx commented on #60
Closing as I wasn't able to replicate. Feel free to update this ticket with more information if you think that the issue actually persists.

[2016-10-28 07:17] #60 closed

[2016-10-28 07:20] franticpsyx commented on #40
Solved in https://github.com/Prospress/woocommerce-subscribe-all-the-things/pull/69

[2016-10-28 07:20] #40 closed

[2016-10-28 07:26] franticpsyx opened #70 "Product Bundles v5 'contains_sub' deprecated notice"

[2016-10-28 07:44] franticpsyx commented on #66
Hey @anthonysbrown - Can't replicate. Perhaps a 3rd party plugin is causing a conflict?

This looks too obvious to miss -- if it was an issue I'd guess we would have more reports by now.

[2016-10-28 07:44] #66 closed

[2016-10-28 09:09] franticpsyx commented on #70
https://github.com/Prospress/woocommerce-subscribe-all-the-things/commit/4e19478713e2c41cb67c9ae1d9832126131d2523

[2016-10-28 09:09] #70 closed

[2016-10-28 13:35] javorszky commented on #67
Every string that gets `echo`d, `printf`d or displayed some other way should run through and `esc_XXX` function. See https://codex.wordpress.org/Validating_Sanitizing_and_Escaping_User_Data, about Escaping: Securing data. I appreciate that in this particular case the data comes from within plugin itself.

That said I'm still of the opinion that it should be escaped. PR up in a few minutes.

[2016-10-28 15:30] franticpsyx commented on #67
@javorszky Agreed - still I'd rather use something like `wp_kses_post` to allow some basic flexibility with rendering html tags. Thoughts?

[2016-10-28 15:31] javorszky commented on #67
Yes, that seems fair. Lemme rework that.

[2016-10-28 15:32] javorszky commented on #67
Done, commit added

[2016-10-28 15:33] #67 closed

[2016-10-28 15:33] franticpsyx commented on #67
Thanks @javorszky 👍

[2016-11-02 20:45] ash-f opened #72 "Restrict by user roll"
I want to disable subscription product for user with certain user roll.
Is it possible?

[2016-11-03 01:20] ash-f opened #73 "Template override not working"
description says it works in directory below but nothing happens
yourtheme/woocommerce/

[2016-11-04 08:56] ash-f opened #74 "Add subscription to cart through link?"
Is it possible to add subscription to cart through link like a regular product?

[2016-11-05 21:58] GoodGuyTaj opened #75 "Getting a 502 error when going to Wp-admin-->Woocommerce-->products"
Hi,

I am hosted on WP-engine. I get a 502 error with subscribe-all-things installed. My error log shows the following.

purge_varnish_cache() failed for: (localhost) #^(algaebarnllc\\.staging\\.wpengine\\.com)$# #((.*)?post_type=scheduled-action&p=5428)#, referer: http://algaebarnllc.staging.wpengine.com/wp-cron.php?doing_wp_cron=1478376036.0824160575866699218750

If I disable the subscribe-all-t

[2016-11-07 17:23] thenbrent commented on #75
@GoodGuyTaj that error seems unrelated to both the **WooCommerce > Products** page and the SaTT plugin... are you sure it's the related error?

The `purge_varnish_cache()` is most likely a WP Engine function (it's not in any plugins I know of and sounds very hosting related) so if you haven't already, please contact WP Engine support to request help diagnosing it.

[2016-11-11 06:48] ash-f opened #76 "turn off "Mixed Checkout" does not work properly"
notice show up that subscription has been removed from cart when try to add mixed item but actually not removed.

[2016-11-11 19:55] ash-f commented on #72
I've put following code on the first line of plugins_loaded()
`$user = wp_get_current_user(); if(in_array('wholesale_customer',(array)$user->roles)){ return; }`

It would be nice if I can set through a hook.

[2016-11-15 04:40] rickamos opened #77 "why is there a "Free!" added to my "none?""
This plugin saved my life.
Everything works well with my "simple" pages. (I swapped "Just a single donation" for "None" in the CSS "display."
https://eurasiapartners.org/projects/coaching/women/
However when I tried to make a "variable" page, I got a random "- Free!" added to the end of "Just a single donation"
https://eurasiapartners.org/projects/coaching/women-two/
(click on any amount to see th

[2016-11-15 08:11] franticpsyx commented on #72
Hi @ash-f - this sounds possible using the available filters - unfortunately we cannot provide assistance with customizations: Please remember this is a bug tracker.

[2016-11-15 08:11] #72 closed

[2016-11-15 23:34] ash-f opened #78 "Coupon discount is not applied to "Recurring Total""
it's applied to only "Total" which is first charge of the subscription.

[2016-11-15 23:44] thenbrent commented on #78
@ash-f sounds like you might be describing the expected behaviour of coupons: https://docs.woocommerce.com/document/subscriptions/store-manager-guide/#section-2

If not, please reopen and provide more details of the type of coupon and product (screenshots will help a lot).

[2016-11-15 23:44] #78 closed

[2016-11-16 00:13] ash-f opened #79 "Coupon discount is not applied to "Recurring Total" #2"
I was expecting coupon discount will be applied to both total(first payment & recurring payment)

When I set coupon discount type to "Cart discount"
http://imgur.com/a/5G5f7
Discount is applied to only first payment.
But this is normal behavior according to this page above, right?
https://docs.woocommerce.com/document/subscriptions/store-manager-guide/#section-2

When I set coupon discount type to

[2016-11-16 00:15] thenbrent commented on #79
Has the coupon been applied? There doesn't appear to be any coupon applied to that cart.

[2016-11-25 21:27] ash-f commented on #57
I want to know simple way to check see if item is subscription.
So far only way I can judge see if cart item is subscription is:
`global $woocommerce;
$cart = $woocommerce->cart->get_cart();
foreach($cart as $ck=>$cv){
  if(!empty($cv['wccsub_data']['active_subscription_scheme_id'])){
    return true;
  }
}`

Is there way to check it more simply?

[2016-11-25 21:30] ash-f commented on #79
Sorry some filter was interfering.

[2016-11-25 21:36] #79 closed

[2016-11-26 05:34] franticpsyx commented on #57
@ash-f For now you can use:

- `WCS_ATT_Schemes::get_active_subscription_scheme( $cart_item )`; and/or
- `isset( $cart_item[ 'data' ]->is_converted_to_sub ) && 'yes' === $cart_item[ 'data' ]->is_converted_to_sub`

We are planning to write a Product API for getting/setting subscription data from/to product instances (see https://github.com/Prospress/woocommerce-subscribe-all-the-things/issues/42) b

[2016-11-26 06:04] franticpsyx commented on #76
@ash-f Could please you provide more details?

[2016-11-26 06:05] franticpsyx commented on #75
...closing for now as I can't replicate.

[2016-11-26 06:05] #75 closed

[2016-11-26 06:06] franticpsyx commented on #74
This is definitely possible -- unfortunately this issue tracker is for bugs.
We cannot provide help with customizations for non-commercial / beta project.

[2016-11-26 06:06] #74 closed

[2016-11-26 06:08] franticpsyx commented on #73
Can't replicate an issue with template overrides. Note that this issue tracker is not a place to get help with customizations. Thanks!

[2016-11-26 06:08] #73 closed

[2016-11-26 06:16] ash-f commented on #76
1. Uncheck  Woocommerce -> Subscriptions -> Mixed Checkout
2. Add regular product/Subscription to cart.
3. Add another product that is different type to cart.
4. I see "A subscription has been removed from your cart" message
5. Go to cart, I see both items are there.

[2016-11-29 20:26] pprotschka opened #81 "Template Structure Unclear - Override not working"
v1.1.1
I tried putting satt-cart-item-options.php with my changes into:
child-theme/woocommerce/cart/satt-cart-item-options.php
child-theme/woocommerce/satt-cart-item-options.php
also tried
child-theme/woocommerce/cart/cart-item-options.php
child-theme/woocommerce/satt-item-options.php

none of these options worked.

fromt the comments in file:
 * Override this template by copying it to 'yourtheme

[2016-11-30 09:37] pprotschka opened #82 "Ajax update on cart breaks native "ajax update cart" functionality."
1.) goto cart with a  couple of items.
2.) change quantity of some products ..hit update (ajax updates) everything is fine.
3.) now change to a subscription option defined with SATT.
4.) satt ajax update happens everything fine - great.
5.) now go back and change product quantity one more time. and hit update - ajax upadtes and refreshes empty/white page.

i have trace it down to the following:
th

[2016-11-30 11:42] pprotschka commented on #77
@rickamos
have you by change added/changed these filters:
woocommerce_subscriptions_product_price_string_inclusions
woocommerce_subscription_price_string

i had customized the price string and had the same issue.
clear your custom filters and see if the problems persists.

[2016-11-30 15:13] #81 closed

[2016-11-30 15:14] franticpsyx commented on #81
Hey - thanks for reporting this.

Should be fixed in `master` now. We have updated the template file headers, too.
Apologies for the confusion!

[2016-11-30 15:20] franticpsyx commented on #82
No luck trying to replicate this one, I'm afraid. I followed steps 1-5 exactly, no issues.
@thenbrent can you have a look? Am I missing something obvious here?

[2016-11-30 15:30] pprotschka commented on #82
@franticpsyx  try it out in my playbox:

http://dev.fitmeal.at/index.php/product/wochenbox/
add to cart-> goto cart.

maybe i wasn't clear or it's a local issue but it happens on my production site and a "new almost no changes" test site.

![image](https://cloud.githubusercontent.com/assets/20007453/20758467/2d0dcaa0-b71a-11e6-9d1a-55829fd7d28d.png)

result:
![image](https://cloud.githubuserconten

[2016-11-30 15:49] franticpsyx commented on #76
Thanks @ash-f -- we have tracked down the cause and will be adding a patch for this in WooCommerce Subscriptions.

Note that some additional work might be needed to prevent multiple SATT products from being added to the cart and converted to subscriptions there.

Closing here since this needs to be patched in WC Subscriptions.

[2016-11-30 15:49] #76 closed

[2016-11-30 15:52] franticpsyx commented on #82
Got it now, thanks -- you are referring to cart subscription options, not the inline cart item subscription options. Will try to replicate and look into it later.

[2016-12-02 19:57] Mylittlebigweb opened #83 "issue with composite product"
Hello

I created 3 simple product with subscription attach to them, and then create a composite product with those 3 but it doesn't work.

getting the error: This product cannot be purchased at the moment.

[2016-12-04 09:26] franticpsyx commented on #83
Products converted to subscriptions using SATT will not work in composites/bundles/mix-and-match products.

You can only use SATT to define subscription options for the entire composite/bundle.

[2016-12-04 09:26] #83 closed

[2016-12-04 10:51] allison-beh opened #84 "Cart subtotals for bundle subscription plans are incorrect"
Hi,

I've configured a product bundle to have the 2 subscription options with following settings:

- Override product; every month for 3 months, regular price $75
- Override product; every month for 6 months, regular price $70

Here's the subscription page: http://staging.basaotea.com/subscription/

For some reason, when the subscription is added to the cart, the cart subtotals are incorrect, and

[2016-12-05 08:22] franticpsyx commented on #84
Hi @allison-beh -- could you please share:

- the pricing settings of your bundle (General tab)
- the configuration of the bundle (Bundled Products tab, both Basic and Advanced settings)
- Product Bundles extension version

Thanks!

[2016-12-05 09:41] allison-beh commented on #84
Hi @franticpsyx ,

I figured out where the number comes from.

Here are the screenshots:

![screen shot 2016-12-05 at 5 19 40 pm](https://cloud.githubusercontent.com/assets/18515716/20879579/7cd40538-bb0f-11e6-9bf1-047e25060359.png)

![screen shot 2016-12-05 at 5 20 14 pm](https://cloud.githubusercontent.com/assets/18515716/20879899/c69a3a6a-bb10-11e6-84fa-901c0527e0b7.png)

![screen shot 2016-12-

[2016-12-05 12:02] #77 closed

[2016-12-05 12:06] franticpsyx opened #85 "Admin Subscription Option styling issues when using Subscriptions 2.1+"
The styling of subscription options located under **Product Data > Subscriptions** is broken when using WCS 2.1+.

This is due to a change of how interval/length options are displayed in WCS 2.1+ (markup and style differences).

[2016-12-05 12:09] #85 closed

[2016-12-05 14:18] franticpsyx commented on #84
Hey @allison-beh -- thanks for the details!

Can you download and test this version - https://github.com/Prospress/woocommerce-subscribe-all-the-things/tree/issue-84 from branch `issue-84`?

It should fix this issue.

[2016-12-05 14:47] allison-beh commented on #84
Hi @franticpsyx ,

Yes! It's perfect now, thanks for the quick fix! Thanks for correcting the styling at the Subscriptions metabox too. :)

Thank you for creating this super handy extension for the community! 👍 👍

--
Allison

[2016-12-05 18:23] louis2b opened #86 "Translation strings issue"
Hi all, not a major issue but still important to use this in other languages.
It seems that one of the translation string is not taken into account (using poedit with the .pot file in /language).

I tried to translate "subscription plans available" (complete string is "& ndash; subscription plans available") and it cannot work, so I figured it might be because of the encoding of the - : & ndash; a

[2016-12-06 07:28] franticpsyx commented on #84
Great news - closing!

[2016-12-06 07:28] #84 closed

[2016-12-06 07:29] franticpsyx commented on #82
@thenbrent Can you take a look at this?

[2016-12-06 08:39] louis2b commented on #86
Sorry, my mistake I was using an old .pot file,
I retried with the new plugin uploaded a few hours ago and it works fine !
Thanks for this great plugin
Louis

[2016-12-06 11:30] #86 closed

[2016-12-10 05:02] vuongtng commented on #82
I've also ran into the issue. Basically when updating the cart without Subscribe to Cart, everything is fine. But if you select a Subscribe to Cart option and attempt to update a product you run into a blank page (in my case I had a -1 when increasing or decreasing quantity of a simple product). The Address bar shows "/cart/?wc-ajax=wcsatt_update_cart_option"

[2016-12-12 16:06] GAPP99 opened #88 "Sync. renewal date for Subscribe all things"
I've read the documentations very carefully for these Extensions, and it seems the possibility of selecting a sync. renewal day for a Subscription Mix 'N Match product is not possible, as it is if a simple subscription is selected.

Could you please add this for the next update?

[2016-12-12 16:17] seb86 commented on #88
@GAPP99 I actually started working on the sync option for a client for Mix and Match Products but then the client changed their mind. What I have so far is on the repository below. You are welcome to try it out and report feedback.

Try [WooCommerce Subscribe All the Things - Sync Add-on](https://github.com/seb86/woocommerce-subscribe-all-the-things-sync-add-on)

[2016-12-12 16:43] GAPP99 commented on #88
@seb86 Thank you. I've successfully installed the plugin, and it seems to be working still. I'll test it out and give you some feedback.

[2016-12-12 19:04] franticpsyx commented on #88
Already discussed in https://github.com/Prospress/woocommerce-subscribe-all-the-things/issues/1 -- closing since this is already on our radar.

@seb86 -- thanks for chiming in!

[2016-12-12 19:04] #88 closed

[2016-12-18 17:15] GAPP99 opened #89 "Switching Mix 'n Match subscription products"
I would like customers to be able to switch out their Mix 'n Match products of the subscription they have, but I can't find out how and where this can be done. Is this achievable?

[2016-12-19 21:26] Whoweez commented on #5
I'd love to see this integrate with WC Composites

[2016-12-21 16:27] GAPP99 commented on #12
Hey guys, any update with this? I'm in dire need of this exact feature, as the Mix 'n Match products is dynamic, and changes every 2nd month. I would happily donate a bit for this feature.

[2016-12-21 18:42] franticpsyx commented on #12
@GAPP99

We will be coming back to SATT after WC 2.7 is released. As mentioned in https://github.com/Prospress/woocommerce-subscribe-all-the-things/issues/57#issuecomment-263045473

[2016-12-22 10:01] martinmansson opened #90 "Dynamic Pricing Plugin not compatible"
Hi there,

When adding a subscription on product level the cart gets messed up when the Dynamic Pricing plugin is active. See image.

![screen shot 2016-12-22 at 10 57 38](https://cloud.githubusercontent.com/assets/779205/21421905/8014fe68-c835-11e6-8755-e9a013b14edb.png)

When disabled it works like a charm.

![screen shot 2016-12-22 at 10 58 31](https://cloud.githubusercontent.com/assets/779205/

[2016-12-22 10:38] franticpsyx commented on #90
Thanks for the report @martinmansson

At the moment we have no plans to support any other plugins other than WC Subscriptions and the product-types (and associated extensions) mentioned in the repo description (readme).

Long-term, we intend to support other official plugins but only after implementing all features planned for the list of plugins targeted by SATT since v1.

I would normally leave

[2016-12-22 10:38] #90 closed

[2016-12-22 10:39] franticpsyx commented on #89
See #12

[2016-12-22 10:39] #89 closed

[2016-12-23 09:04] pprotschka commented on #57
@fcponline
i probably will need use the same approach by applying the coupons dynamically.
When/Where are you placing that code?

for me it would be ideal if it was hooked when the ajax call from changing SATT option in the cart was trigged?
any pointers?

[2016-12-25 01:46] vuongtng opened #91 "Subscribe to Cart - breaks when updating quantity"
The subscribe to cart function works fine until the customer increases or decreases quantity in cart after selecting a subscribe to cart plan. After updating the cart, the customer is presented with a -1 on a blank page. If pressing back, the quantities appear to be updated and working normal, also continuing to update quantities seem to work thereafter.

The blank page with a -1 has the url of **

[2016-12-25 09:07] pprotschka commented on #91
See #81

[2016-12-25 09:07] pprotschka commented on #91
Sorry I mean #82

[2016-12-26 09:54] #91 closed

[2016-12-26 09:54] franticpsyx commented on #91
Duplicate of https://github.com/Prospress/woocommerce-subscribe-all-the-things/issues/82

[2017-01-03 00:41] dutchandyoung opened #92 "Add to cart does not work"
Hi,

When i add a simple product with (forced subscription) to the cart with php ?add-to-cart=id
The product will be added to the cart and will display it as a subscription, but when i go to the product detail page and add it (single-product.php) then it will be added as a normal product in the cart?

Whats happening here?

[2017-01-03 09:41] martinmansson opened #93 "What happens when a product is out of stock?"
What happens if a customer have subscribed to a product and the product goes out of stock? Will the renewal fail?
If a user has subscribed to multiple products and one is of them is out of stock, what will then happen?

Thanks,
Martin

[2017-01-03 09:44] thenbrent commented on #93
Hi Martin, this question is answered here: https://docs.woocommerce.com/document/subscriptions/faq/#section-17 :)

[2017-01-03 09:44] #93 closed

[2017-01-03 09:55] fcponline commented on #57
@pprotschka

We added the code to a Submit button on a custom order from that we have created. The form allows the user to choose the amount of individual products in a Product Bundle.  Then we created a custom radio box that allows the person to select the timeframe & discount that they want...

8 weeks = 10%
16 weeks = 20%
etc...

Then we applied the WC Coupons / Super Coupons plugin code to the

[2017-01-06 17:22] GAPP99 opened #94 "SATT won't process recurring orders correctly"
Hello,

I first wrote WooCommerce support, who after a few  messages back and forward asked me to direct my question directly to you, as the developers of SATT.

So these are the plugins I use:
WooCommerce Subscriptions version 2.1.2
WooCommerce Mix 'n Match version 1.1.8
WooCommerce Subscribe All The Things version 1.1.2

Everything seems to be working fine and dandy together with Stripe, and the

[2017-01-06 17:59] pprotschka commented on #94
this is default behaviour of WC. This has nothing todo with SATT i think. a paid for order will have status "processing" implying a payment has been received and you need to "process the order" ;)

you will need to find the right "hook"  and set order status to complete after the order status updates.
if you dont what a hook is i would into hiring a developer.

also given the coming WC release the

[2017-01-06 18:36] GAPP99 commented on #94
@pprotschka Thank you for your answer. Forgive me for not mentioning. I already use an autocomplete hook, which can be found here: https://docs.woocommerce.com/document/automatically-complete-orders/

The problem does not exist, if I run a normal subscription, only with Mix 'n Match + SATT.

[2017-01-06 18:44] pprotschka commented on #94
this hook only runs on checkout. not on automatic order processing.
again. you need to find the right hook ...something like
"woocommerce_order_status_processing" but for renewal orders

http://squelchdesign.com/web-design-newbury/woocommerce-detecting-order-complete-on-order-completion/

[2017-01-06 18:50] GAPP99 commented on #94
I found this plugin: https://woocommerce.com/products/woocommerce-order-status-control/

I think it might actually do the job, for a guy without any coding background. Thank you for guiding me on the right path.

[2017-01-06 18:50] #94 closed

[2017-01-06 18:54] pprotschka commented on #94
@GAPP99 unless it says its compatible with woocommerce subscriptions i'm afraid it wont. HERE is the hook you are looking for: woocommerce_renewal_order_payment_complete

[2017-01-06 18:55] pprotschka commented on #94
so add this to functions.php
add_action( 'woocommerce_renewal_order_payment_complete', 'custom_woocommerce_auto_complete_order' );

[2017-01-06 18:56] GAPP99 commented on #94
@pprotschka Thank you very much!

[2017-01-07 03:09] franticpsyx commented on #94
@pprotschka thanks for jumping in here -- and kudos for the spot on tips.

That's accurate. Due to the number of dependencies and its non-commercial nature, SATT will be the last to be updated. This will happen after (or while) any compatibility issues with WC 2.7 are ironed out, so there's a chance that WC 2.7 might be released before SATT is fully compatible with it.

Regarding the actual issue,

[2017-01-11 17:54] GAPP99 commented on #12
@franticpsyx Quick question. Is it possible to manually modify the Mix 'n Match subscriptions with this thread in mind? I tried adding other products, and copy/pasted the meta values, which seemed to work. Only thing is that it doesn't treat the modified products as Mix 'n Match.

This is a screenshot of Orders, where you can see the first original order was 1 product and 7 mixed: http://prntscr.c

[2017-01-12 07:17] franticpsyx commented on #12
@GAPP99 It's a bit more complex that that because Subscriptions and Orders are not the same thing. Essentially what we need is a way to "bulk edit" multiple Subscriptions purchased in some context, e.g.

- a Mix and Match product,
- a Product Bundle, or
- an entire cart.

[2017-01-12 22:13] GAPP99 commented on #12
@franticpsyx Okay, that's understandable naturally. I know there will be a lot of new features coming up with the new WC, and I can wait with the bulk editing. For now though, I'd love to be able to do these things myself in any way possible.

What I have been thinking would be just to add a form to "My Account > Subscriptions", and then the customers wanting to change the Mix 'n Match products co

[2017-01-13 08:57] franticpsyx commented on #12
You would need to manually cancel any active Subscriptions. Then perhaps you could try to modify the active SATT scheme ID of order item meta when ordering again? But still, that would require you to write some code and would be a clumsy way to do it.

[2017-01-13 11:40] GAPP99 commented on #12
@franticpsyx Oh boy. My problem is, that we're launching our food subscription service this monday, and it would be a huge mess if the customers can't change their Mix 'n Match products inside the subscription in some way or another.

So I guess I have two options, since I can't wait till the new release comes out:
1. I'm then either looking at setting up a manual temporary setup, which I can do m

[2017-01-13 11:56] franticpsyx commented on #12
Your biggest concern, in my opinion, should be the fact that you are going to production/live with infrastructure that's labelled as experimental/beta (SATT). Being dependent on a non-commercial/beta plugin means that, ultimately, you will need to be prepared:

- to deal with any issues that arise from its use over time,
- to maintain/upgrade the entire plugin yourself should it get forked, abando

[2017-01-13 13:17] seb86 commented on #12
@GAPP99 Hi.

I have experimented with change items in a subscription before. It's not that easy but is doable. However, I have only tried for simple subscriptions. I'm not sure how different it is for Mix and Match products.

As @franticpsyx has said this plugin is still experimental and there are a lot of things that will change once 2.7 of WooCommerce is released. Your best option in my opinion

[2017-01-13 14:03] pprotschka commented on #12
@GAPP99 what a coincidence...also doing a food subscription site. Also using SATT. i develop myself but not on a professional/full time basis. perhaps we can come together and share the costs.

[2017-01-13 14:42] seb86 commented on #12
@pprotschka Interesting. 2 birds, one stone. You would both have to agree to the same specs.

[2017-01-13 14:57] GAPP99 commented on #12
@seb86 Interesting. I'm definitely interested in this. Do you have a skype username I can contact you on?

@pprotschka Lovely, so let's discuss how we can be of help to each other and possibly share the costs if we can find an acceptable compromise. Do you have a skype username I can contact you on, as well?

[2017-01-13 15:14] seb86 commented on #12
@GAPP99 @pprotschka My Skype is sebsstudio

[2017-01-16 09:14] GAPP99 commented on #12
@pprotschka I'm awaiting your response. You can add me on Skype: danstah8

[2017-01-17 01:40] alexchristiansen commented on #12
@GAPP99 / @seb86 / @pprotschka
I am very interested as well.
Using SATT for a subscription service whereas we would like to offer the opportunity of switching between SATT subscriptions.
I am interested in a potential split of cost as well.
I am happy to talk more about this. Either alexander (at) organicbasics.com or skypeid: alexander.cgroup

Looking forward to chat.

@franticpsyx while we are a

[2017-01-17 02:14] pprotschka commented on #12
i added you guys on skype. perhaps we can talk more in a group chat there.

[2017-01-17 14:25] seb86 commented on #12
@alexchristiansen That is great to hear. I think we are going to have an interesting group conversation. Also, I think @franticpsyx is referring to this article that was released today. https://woocommerce.wordpress.com/2017/01/17/deprecation-in-woocommerce-core/

I also suggest all three of you [send me your ideas and specs](https://sebastiendumont.com/contact-me/) individually and I will look ov

[2017-01-17 14:50] GAPP99 commented on #12
Whenever Alex accepts the invite on Skype, I'll start a group chat for all 4 of us, then we can discuss the project.

Thank you, Seb.

[2017-01-17 15:03] seb86 commented on #12
@GAPP99 Please confirm that you read this.

[2017-01-17 15:25] franticpsyx commented on #12
Hey guys -- locking this for now as the discussion is really not adding anything to the Issue.

[2017-01-20 11:27] franticpsyx commented on #92
Hey @dutchandyoung -- I am not able to replicate this one. The only issue I see is that when the product is added to the cart using the query-string method it appears as a new cart item, instead of increasing the quantity of an existing one added by clicking "Sign Up Now":

https://cl.ly/3B0K0H2H4314

[2017-01-20 11:27] #92 closed

[2017-01-20 12:53] #82 closed

[2017-01-20 13:31] franticpsyx opened #96 "Support WC 3.0"
Opening this to start working on WC 2.7 compatibility.

Since SATT does not extend any core CRUD classes, WC 2.7 compatibility is limited to the following tasks (more added as we investigate):

- Stop accessing CRUD object properties directly.
- Stop accessing deprecated object properties.
- Look for deprecated CRUD object functions and use new ones where applicable.
- Replace deprecated filters w

[2017-01-20 13:45] franticpsyx commented on #1
Let's break this down into smaller issues and tackle them one by one.

[2017-01-20 14:33] franticpsyx commented on #96
Switching milestone to 1.2.

Reason: Scheme data will be obtained via the Product API in 1.2, which will abstract a lot of direct `get_post_meta` calls. Once this is done, scheme data will be obtained using `WC_Data::get_meta`.

[2017-01-20 14:46] franticpsyx opened #97 "Review for WP basic coding standards compliance"
- [x] File headers.
- [x] Class/hook/function docblocks.
- [x] Other (such as yoda conditionals)

[2017-01-20 15:13] franticpsyx commented on #42
Plan:

1. Write an interface for getting/setting subscription data on a product object (passed as parameter). Interface will try to borrow from current WCS Product API as much as possible.

Subscription data consists of:

- Scheme data and other options, currently stored as post meta, which are _stateless_. Note that under WC 2.7 scheme data will be on the object already (as `WC_Data` meta).
- Dat

[2017-01-23 13:46] franticpsyx commented on #96
See https://github.com/Prospress/woocommerce-subscribe-all-the-things/tree/issue-96

Leaving this open until we can test with a final WC 2.7-compatible version of WCS.

[2017-01-31 13:50] dmseaton opened #98 "Subscription interval/period labels hiding respective fields"
Aesthetics aside, it's consequently difficult to access the interval field with click.

![screen shot 2017-01-31 at 13 43 35](https://cloud.githubusercontent.com/assets/8384343/22467205/9adf9172-e7bb-11e6-95bc-69d1b435597b.png)

Tested in Firefox 51.0.1 and Chrome 55.0.2883.95

[2017-01-31 14:11] franticpsyx commented on #98
Thanks for the report @dmseaton -- can you share version numbers for SATT and WC Subscriptions?

This affects SATT 1.1.1 when used with Subscriptions 2.1. However, it should be fixed in 1.1.2 -- https://github.com/Prospress/woocommerce-subscribe-all-the-things/releases/tag/1.1.2

[2017-01-31 14:29] dmseaton commented on #98
Currently SATT 1.1.2 and Subscriptions 2.0.19, so the latter might explain it. I'll get Subscriptions updated and give it a go. Thank you!

[2017-01-31 15:11] dmseaton commented on #98
Can confirm that this resolved the issue. Appreciate the quick response and advice!

[2017-01-31 15:11] #98 closed

[2017-02-07 13:29] filipeaparicio opened #99 "Synchronisation + Switching"
Are there any plans to implement the synchronisation feature for subscriptions? This is a must to help payments / shipping being processed all on the same day.

Also, although the switching option seems to be "working" for composite products after a subscription has been activated, it doesn't allow users to replace products. It only allows them to remove elements completely. Are there any plans fo

[2017-02-07 13:44] seb86 commented on #99
Yes there is. Please read [this issue](https://github.com/Prospress/woocommerce-subscribe-all-the-things/issues/1) for more information.

[2017-02-07 16:33] thenbrent commented on #99
Closing as duplicate of https://github.com/Prospress/woocommerce-subscribe-all-the-things/issues/1 & https://github.com/Prospress/woocommerce-subscribe-all-the-things/issues/12

@filipeaparicio please have a read over those to understand the issues. 🙂

We also have a new, draft wiki article explaining the plans to address these types of features more generally: https://github.com/Prospress/woocomm

[2017-02-07 16:33] #99 closed

[2017-02-22 11:15] dmseaton opened #100 "Support for adding products to a subscription"
Given the nature of SATT it seems like it'd be useful to somehow permit users to add products to a subscription instead of just removing them - perhaps with a Change Subscription option which dumps/replicates a subscription into the cart, then updates the subscription on purchase (preferably against the same ID, but I'm not sure whether this is achievable in practice).

Any thoughts on this? Has i

[2017-02-23 21:20] webio opened #101 "Subscription duration after price outputting twice in cart total"
<img width="1162" alt="screen shot 2017-02-23 at 1 17 14 pm" src="https://cloud.githubusercontent.com/assets/961866/23279606/c7fc71f4-f9ca-11e6-8c03-ff3f50baaedb.png">

[2017-02-23 21:21] javorszky commented on #101
Is that working with one copy of STATT running on the site and default theme / no other plugins besides WooCommerce and Subscriptions?

[2017-02-23 21:26] webio commented on #101
@javorszky

Nope.

### WordPress Environment ###

Home URL: http://adinfern.staging.wpengine.com
Site URL: http://adinfern.staging.wpengine.com
WC Version: 2.6.14
Log Directory Writable: ✔
WP Version: 4.7.2
WP Multisite: –
WP Memory Limit: 1 GB
WP Debug Mode: –
WP Cron: ✔
Language: en_AU

### Server Environment ###

Server Info: Apache
PHP Version: 7.0.13-0ubuntu0.16.04.1
PHP Post Max Size: 100 MB

[2017-02-23 21:27] javorszky commented on #101
Can you try it with a default theme and only the necessary plugins? Otherwise my suspicion is that it's the theme / some other plugin doing it.

[2017-02-23 21:37] seb86 commented on #101
I came across this issue when working on a Mix and Match product to support sync. Did not have an issue for a simple or variable product. Nothing to do with the theme as far as I could tell as I tried a few.

[2017-02-23 21:40] webio commented on #101
Same issue. Twenty Seventeen, Woo, Subscriptions, SATT, Mix and Match active.

<img width="1074" alt="screen shot 2017-02-23 at 1 38 54 pm" src="https://cloud.githubusercontent.com/assets/961866/23280335/9ea01ba0-f9cd-11e6-88ce-6f8f94e304f6.png">

[2017-02-23 21:41] javorszky commented on #101
If you turn off mix and match, does the issue go away?

[2017-02-23 21:43] webio commented on #101
Yes

[2017-02-23 21:53] javorszky commented on #101
Reproduced. Issue happening when a mix and match item is in the cart. The duplicate recurrence string shows up because of https://github.com/Prospress/woocommerce-subscribe-all-the-things/blob/master/includes/class-wcsatt-integrations.php#L62.

If that is not there, the subtotal string is not duplicated.

[2017-02-23 22:16] javorszky commented on #101
And that's because we're running `$10 / every 6 months` through the `WC_Subscriptions_Cart::get_formatted_product_subtotal` method.

It's a filter-on-a-filter problem, and I can't decide whether it's actually a Subscriptions bug wherein it doesn't take into account that `$product_subtotal` might already be something we need, or a STATT bug where it shouldn't call the cart method again on the same

[2017-02-23 22:48] webio commented on #101
If I remove this: https://github.com/Prospress/woocommerce-subscribe-all-the-things/blob/master/includes/class-wcsatt-integrations.php#L62.

Will solve the issue for now, or cause more issues?

[2017-02-23 22:52] javorszky commented on #101
It's a bad practice to modify plugin files directly. What you could do is unhook that method in your own plugin with

[code]

That *should* work, though I haven't tested it.

If you're using any of the other 2 plugins (Bundles, Composite products), then it might introduce complications. I'm not entirely familiar as to why this is needed in the first place, so I can't give you a 100% accurate answe

[2017-02-23 22:58] webio commented on #101
No worries Jav. I'll give it a go.

[2017-02-23 22:59] javorszky commented on #101
That's fine. May I ask you not to abbreviate my username as it's my actual family name?

[2017-03-15 02:33] growdev opened #102 "SATT product in renewal after failed order is not converted to sub"
To reproduce:

- WC 2.6.14
- WCS 2.0.20
- STATT 1.1.2
- Add a subscription product to cart and checkout
- Our site is using Auth.net so I changed the Billing Zip code to `46282` per [this](https://developer.authorize.net/hello_world/testing_guide/)
- Force a renewal of the subscription
- The order fails and the subscription is placed On Hold
- Login as the customer and go to the `/my-account/subsc

[2017-03-16 14:54] JohnLauber opened #104 "Free or Zero Price Product exclusion"
Is there some code I can add to my functions to exclude a free or zero price item being part of a cart subscription? Thought I would ask before hunting and pecking through the code. Or is it the "one time only" option?

Thank you.

[2017-03-16 17:08] seb86 commented on #104
We don't have any code snippets at this time.

[2017-03-16 17:08] seb86 commented on #104
Why do you want to exclude products that are free?

[2017-03-16 18:07] JohnLauber commented on #104
If a customer orders a free sample, they don't want that as part of a subscription. However, they would want the other cart items to be subscriptions. Not a huge deal, as it could be the processor paying attention to the order, but it would be a nice to exclude it as a subscription option.

[2017-03-17 12:42] blackdrakes opened #105 "Variation subscription display wrong price"
Hi I can't find the reason why but after selecting variation, it displays the wrong price for the subscription. I have put a 1% discount and it shows correctly on the top but a different value is shown is the radio button.

![screen shot 2017-03-17 at 8 36 14 pm](https://cloud.githubusercontent.com/assets/14271488/24043514/e7b983fe-0b51-11e7-831a-c3ac023a2151.png)

[2017-03-17 12:52] #105 closed

[2017-04-03 01:55] JojoSimz opened #106 "Dropdown Menu"
Code for satt-product-options.php to convert from radio buttons to dropdown menu?

Relevant Code:
-----------------------------------------------------------------------------------------------------------------
[satt-product-options.txt](https://github.com/Prospress/woocommerce-subscribe-all-the-things/files/888828/satt-product-options.txt)

[code]

[2017-04-04 08:52] javorszky commented on #102
The downside of this fix is that if the product's subscription option is discounted, it will be doubly discounted.

If the original price is $15, there's a 10% discount, the initial checkout will be $13.50.

If we're paying for a failed renewal order, that 10% discount gets applied to the $13.50, and it becomes $12.15, which is not ideal.

Any help would be appreciated @franticpsyx, if you have th

[2017-04-04 08:56] franticpsyx commented on #102
@growdev @javorszky -- thanks for the report and feedback folks!

We are currently working on #42 and #96 which will introduce some architecture changes and WC 3.0 compatibility (could justify a bump to 2.0). I can definitely have a look at this as part of that refactor.

[2017-04-04 09:00] javorszky commented on #102
Awesome, thank you :). I'll read those issues a wee bit later, they are loong. :D

[2017-04-04 09:04] franticpsyx commented on #102
You might want to take a look at the `issue-42` branch directly. There's a lot of useful inline commentary there -- the commits should also allow you to understand the objective of the refactor.

I will open a PR to discuss the changes when I'm done refactoring the entire (small) codebase to utilize the new Product API.

[2017-04-04 14:03] growdev commented on #102
Thanks for the info @franticpsyx !

[2017-04-05 14:28] franticpsyx commented on #97
A large chunk of the work here is being worked on in #42 -- will return here when we've merged all other issue branches.

[2017-04-05 14:55] franticpsyx commented on #96
On with this :)

[2017-04-05 15:01] #106 closed

[2017-04-05 16:08] JojoSimz opened #107 "One Time Shipping/Free Shipping"
On WC Subscriptions, one has the option of choosing "one-time shipping" as a form of a discount for a variable subscription product...

Wondering if this is on the radar at all for single-products (Would be a great feature as shipping costs are one of our most expensive operating expenses).

[2017-04-06 07:36] franticpsyx commented on #107
Hey @JojoSimz -- the **One Time Shipping** box is also available when you attach Subscription Schemes to a product using the **Product Data > Subscriptions** tab.

Does this answer your question?

[2017-04-06 10:54] franticpsyx opened #108 "Review Subscriptions tab UI"
The Subscriptions tab UI needs some cleaning up to become a bit more friendly and accommodate more options in the future.

[2017-04-06 11:40] #108 closed

[2017-04-06 12:24] franticpsyx commented on #102
Merged the work done so far on #96 and #42 in the `2.0` branch. There are a number of issues that are being worked at the same time since the entire codebase is being re-written. Isolating each issue in a separate branch is impractical, but it should be fairly straightforward to follow what's happening - see https://github.com/Prospress/woocommerce-subscribe-all-the-things/compare/master...2.0

[2017-04-06 12:24] franticpsyx commented on #42
See progress so far in https://github.com/Prospress/woocommerce-subscribe-all-the-things/compare/master...2.0

[2017-04-06 12:27] franticpsyx commented on #96
Quick update:

If you depend on SATT, it is recommended to stick with WC 2.6 until a final SATT 2.0 release is available. Feel free to take the `2.0` branch for a spin and let me know what works / doesn't work under WC 3.0 / WCS 2.2 . Thanks!

See progress in https://github.com/Prospress/woocommerce-subscribe-all-the-things/compare/master...2.0

[2017-04-06 13:47] franticpsyx opened #109 "Save/restore subscription state of a product or cart item to/from order item meta"
Currently, subscription state is not consistently saved or restored from/to order item (subscription order item) data.

The subscription state of a product object should be restored when:

- a new product instance is created using `WC_Order::get_product_from_item` (legacy) or `WC_Order_Item_Product::get_product`
- cart item data is loaded when resubscribing / renewing / etc (to) a subscription by

[2017-04-06 14:31] #109 closed

[2017-04-06 14:35] franticpsyx commented on #102
This _should_ be resolved in `2.0`. Feel free to take that branch for a spin and post feedback!

[2017-04-06 16:06] JojoSimz commented on #107
Yes, Thank you tons.

[2017-04-06 16:06] #107 closed

[2017-04-07 08:45] Geert46 opened #110 "Interval output issue"
When selecting multiple outputs (month + days + weeks + years), it only shows the first interval, multiple times. For example:

Subscription options:
1) Interval: every month
2) Interval: every week
3) Interval: every 2 days
4) etc

Returns:

Choose a subscription plan:

    None – € 5,00 – subscription plans available
    Every month
    Every month
    Every month
    Etc

I believe it is an inc

[2017-04-07 08:53] franticpsyx commented on #110
@Geert46 -- Are you experiencing this issue with v1.1.2?

SATT v1 is not tested with and does not support WC 3.0 or WCS 2.2. See #96 .

If you depend on SATT, it is recommended to stick with WC 2.6 / WCS 2.1 until a final SATT 2.0 release is available. Feel free to take the `2.0` branch for a spin -- that one should be compatible with WC 3.0 / WCS 2.2. But note that it's still in alpha state.

[2017-04-07 09:02] Geert46 commented on #110
@franticpsyx Thanks for the respons mate! It's an issue with the combination of SATT 1.1.2 and WC 3.0.0 and WCS 2.2.2

The issue shows after updating, therefore this thread. I tested it with 2.0 branch and that works! My fault for not testing this branch first.

[2017-04-07 09:13] franticpsyx commented on #110
Thanks @Geert46 -- note that 2.0 is in active development. If you notice anything strange, you are more than welcome to report it. Just make sure you the issue is still there when using the latest version of the `2.0` branch.

[2017-04-10 19:52] jessejones2 opened #111 "WC 3.0.3 error = "every array" instead of "every month""
Since upgrading to WooCommerce 3.0.1, instead of the option to for “every month” it says “every array” and instead of “every year” it says “every array.” When I downgrade back to WooCommerce 2.6.14 there is not a problem.

[2017-04-10 20:10] thenbrent commented on #111
SATT does not support WC 3.0 yet. See #96.

[2017-04-10 20:10] #111 closed

[2017-04-10 20:21] jessejones2 commented on #111
thank you! sorry to have missed the other posts. I was not aggressive enough with my searches. I love SATT and it is such an important part of my web sites. I will wait patiently for the upgrade and continue with WC 2.6.14

[2017-04-10 20:44] thenbrent commented on #111
@jessejones2 I'm sorry it's not done yet and hopefully we won't keep you waiting too long. We of course wanted to get it done prior to 3.0's release, but just getting our commercial extensions compatible has taken all our time.

[2017-04-11 06:21] piersline commented on #100
Yes, swapping items in an existing subscription would be most useful

[2017-04-11 06:29] piersline opened #112 "Bundled Products Pricing"
I've upgraded to WC3.0 and the pricing on the bundled products is now incorrect.

It worked fine on WC2.6 but now it adds the bundled product price to the price of the subscription.

[2017-04-11 07:40] franticpsyx commented on #96
Note: Integrations with PB, CP and MnM do not work in `2.0` just yet, as they need to be revised to utilize the new [Products API](https://github.com/Prospress/woocommerce-subscribe-all-the-things/blob/2.0/includes/class-wcsatt-product.php) introduced in SATT 2.0

[2017-04-11 07:40] franticpsyx commented on #112
@piersline -- v1 is not compatible with WC 3.0 or WCS 2.2. See https://github.com/Prospress/woocommerce-subscribe-all-the-things/issues/96 for details.

[2017-04-11 07:41] #112 closed

[2017-04-11 07:41] franticpsyx commented on #110
Closing as v1 has known issues with WC 3.0 / WCS 2.2.

[2017-04-11 07:41] #110 closed

[2017-04-11 07:43] franticpsyx commented on #104
Closing -- idea noted! However, this is not a place to discuss customization requests.

[2017-04-11 07:43] #104 closed

[2017-04-11 08:37] franticpsyx commented on #111
@jessejones2 we are currently working on version `2.0` (currently in alpha), which should work with WC 3.0 + WCS 2.2. You can give it a spin on a staging site, but note that the Product Bundles, Composite Products and Mix-and-Match integrations are still being worked on :)

[2017-04-11 08:37] franticpsyx commented on #111
^ Link: https://github.com/Prospress/woocommerce-subscribe-all-the-things/tree/2.0

[2017-04-12 14:45] lsab opened #113 "Composite Product + Priced Individually not generating subscription total"
I'm trying to generate a subscription from a composite product with priced individually components.
However, though the initial payment is correct, the subscription renewal total is always £0.00 - Which I guess is taken from the base price of the composite product, since that's empty.

The subscription is set to: Price -  Inherit from product.  Does that mean base price, or configured price?
Have

[2017-04-12 16:10] franticpsyx commented on #113
Hey @lsab -- Which versions of WooCommerce / Subscriptions / SATT are you running? Thanks!

[2017-04-12 16:23] lsab commented on #113
WooCommerce - 3.0.1
Subscriptions - 2.2.3
SATT - 2.0
Composite Products - 3.9.0

[2017-04-12 16:25] thenbrent commented on #113
@lsab SATT does not support WC 3.0 yet. See #96 or #111 for more details and options for bleeding edge code you can test with.

[2017-04-12 16:25] #113 closed

[2017-04-12 16:33] lsab commented on #113
Ahh no problem, I'll revert to WC 2.6 for now.
Thanks.

[2017-04-12 16:38] thenbrent commented on #113
@lsab be sure you also restore the database to a backup prior to running the 3.0 upgrade routine, as that changes how data is stored in the database.

[2017-04-15 15:01] GAPP99 commented on #100
It's already been requested in this thread: https://github.com/Prospress/woocommerce-subscribe-all-the-things/issues/12

[2017-04-17 15:59] kraelik opened #114 "Plugin breaks cart in WooCommerce 3.0.3"
I just updated to the latest version of WooCommerce, and on the cart page, all that showed in the sidebar was this error message. Any help is appreciated!

[2017-04-18 08:52] franticpsyx commented on #114
@kraelik -- v1 is not compatible with WC 3.0 or WCS 2.2. See #96 for details.

[2017-04-18 08:52] #114 closed

[2017-04-20 19:05] baalvik opened #115 "Not compatible with new versions of WooCommerce and Subscriptions"
After updating to the newest versions of these plugins, the discount doesn't apply and the time frames don't translate to the product page.  will there be an update of this plugin to fix this?  Just hoping the development of this plugin is still happening.

Best,
Ben

[2017-04-20 19:13] thenbrent commented on #115
@baalvik yes we're aware and working on it, see #96 (or discussion on #111 or #114)

[2017-04-20 19:13] #115 closed

[2017-04-24 21:24] pucelles opened #116 "Issue with prices not appearing when selecting "inherit from chosen variation""
I have noticed that I am having issues with Dynamic Pricing and Subscribe All The Things.

Here's what is going on. When I deactivate Dynamic Pricing, all looks perfect:
![This is what it should look like.](https://cloud.githubusercontent.com/assets/7959976/25359238/66224c66-2912-11e7-87db-60652923c935.png)

When I re-activate Dynamic Pricing, this is what happens to my Subscription options. It go

[2017-04-25 13:47] dimijazz opened #117 "The discount is not applied on the cart page"
I tried to deactivate all plugins and also change theme. But the price issue is not gone.
I can choose on product page the 10% discounted subscription (price is discounted) but on cart its displayed
 $27.00
$27.00 / month
Everything else seems to work ok.
Any Ideas ???
Thanks
Dimitris

WC version:		3.0.4
Log directory writable:		 /www/wp-content/uploads/wc-logs/
WP version:		4.7.3
WP multisite:		–

[2017-04-25 17:53] thenbrent commented on #117
SATT is not compatible with WC 3.0. Please see #96 (or discussion on #111 or #114) for more details. I suspect this is just one of many issues you'll see while running 3.0

[2017-04-25 17:53] #117 closed

[2017-04-27 13:15] umang-dev opened #118 "If i select every 2 week in product detail page it show default only now on cart page"
I have recently update my  site with woocommerce 3.0. i have trouble when If i select every 2 week or any other in product detail page it show every time default only now on cart page. please help me to fix this issue

[2017-04-27 13:24] willgorham commented on #118
@umang-dev I would try the 2.0 branch and see if that works. But do note that there hasn't been an official WC 3.0 compatible release for SATT yet. See issue #96

[2017-04-27 14:00] umang-dev commented on #118
I have installed 2.0 branch. when i select any option like every 3 week option in product detail page, it will always show default only now option in cart page. please help me to solve this issue. we have multiple production site running with this. and we cannot remove this plugin. thank you in advance.

[2017-04-28 11:45] franticpsyx commented on #118
@umang-dev -- Have you updated to the latest version on WooCommerce Subscriptions?

Could you please share some details about:

- The product that exhibits this problem. Is it a simple/variable product?
- The **Subscription** settings created using SATT -- can you share a screenshot of the **Product Data > Subscriptions** panel?

Finally, is there a staging/live site affected this issue that we ca

[2017-04-28 11:56] umang-dev commented on #118
I am using variable product and simple product data type for products

Here is product link : http://www.petwants.com/petwantsmason/product/salmon-brown-rice/. I also want to remove price on subscription option. i only want to show every 2 week like it showing on cart page.

everything is working fine the problem is on cart page. it show default only now option selected after i set subscription li

[2017-04-28 11:59] umang-dev commented on #118
Previously it works fine on wsatt 1.2 . when i update woocommerce 3.0 then it show every array on product detail. it there any solution to update on old version plugin code. are you working on new version?

[2017-04-28 12:04] franticpsyx commented on #118
Thanks @umang-dev -- version 2.0 has not been tested with the Variable product type yet.

At the moment we are actually refactoring the existing integrations with complex product types and plan to make a final testing round to track down and fix any major issues that have slipped through, like this one.

When done, we'll officially tag 2.0 beta :)

[2017-04-28 12:08] umang-dev commented on #118
okay thanks a lot,  i am waiting for this update. how much around time taking this plugin to release?

[2017-04-28 12:10] umang-dev commented on #118
it that possible to switching subscription from customers view? currently it  is only possible if product type is variable subscription. my client want to make subscription editable from client view

[2017-04-28 12:17] franticpsyx commented on #118
Hard to say, @umang-dev -- ideally we'd like to have a beta ready early in May, but would also like our teams to review the new [SATT Product API](https://github.com/Prospress/woocommerce-subscribe-all-the-things/blob/2.0/includes/class-wcsatt-product.php) together before v2.0 hits beta.

At the moment our top priority is to ensure that our extensions (and especially WC Subscriptions, which SATT d

[2017-04-28 12:17] #118 closed

[2017-04-28 23:15] sitesforchrist opened #119 "Frequency Returning as Array"
Since updating Woocommerce Subscriptions to latest version (2.2.5) the frequency in the bullet list is displaying as an array rather than the frequency. Example: What used to say "Every Month" and "Every Week" now says "Every Array" for both. Also in the cart it says the "price / array" rather than "price / month".

[2017-04-28 23:22] thenbrent commented on #119
Hi @sitesforchrist please see https://github.com/Prospress/woocommerce-subscribe-all-the-things/issues/118#issuecomment-297979972 and #96

[2017-04-28 23:22] #119 closed

[2017-05-02 09:43] franticpsyx commented on #100
Closing in favor of #12 -- this is something we have in mind 👍

[2017-05-02 09:43] #100 closed

[2017-05-02 09:45] franticpsyx commented on #5
Closing in favor of working with specific issues in the SATT - PB/CP/MnM integrations, which is being revamped in 2.0.

[2017-05-02 09:45] #5 closed

[2017-05-04 09:30] ImportantlyMe opened #120 "Error showing with YITH Abandoned Cart plugin"
Hi there

Error message appears in Abandoned Cart plugin admin screen

Warning: Invalid argument supplied for foreach() in /home/aquaamor/public_html/wp-content/plugins/woocommerce-subscribe-all-the-things-master/includes/class-wcsatt-schemes.php on line 300

![1pasted image at 2017_05_03 04_19 pm fw](https://cloud.githubusercontent.com/assets/28385604/25697816/5f5aa38e-30b4-11e7-9b6a-28d6159ec71c

[2017-05-04 09:47] franticpsyx commented on #120
Hey @ImportantlyMe -- we are not planning to release another v1 version. You are encouraged to try out the v2 branch and report issues for us to look into before the final release.

Also, note that our capacity to test and fix issues with 3rd party plugins is very limited, as SATT is still a free project that's limited in scope.

[2017-05-04 09:47] #120 closed

[2017-05-07 17:36] davescol opened #121 "Fatal error on cart page"
I have woocomerce 3.05 and subscriptions 2.2.6 I am getting an error on the cart page of:

Fatal error: Uncaught Exception: Invalid product. in /homepages/19/d674124826/htdocs/app674393108/wp-content/plugins/woocommerce/includes/data-stores/class-wc-product-data-store-cpt.php:133 Stack trace: #0 /homepages/19/d674124826/htdocs/app674393108/wp-content/plugins/woocommerce/includes/class-wc-data-stor

[2017-05-08 17:01] thenbrent commented on #121
Hi @davescol SATT does not support WC 3.0 yet. See #96 or #111 for more details and options for bleeding edge code you can test with.

[2017-05-08 17:01] #121 closed

[2017-05-10 01:01] #116 closed

[2017-05-10 01:04] pucelles opened #122 "Issue with subscription discount prices not displaying"
Site: ReddRemedies.com

Please view a video describing the issue here: https://www.dropbox.com/s/a7sbqd30lit4rvn/WCSATT_error.mp4?dl=0

--

To be brief, the subscription discount is not displaying, seemingly at random.

Any help is greatly appreciated.

[2017-05-10 14:22] seb86 commented on #122
@pucelles I replied to your email.

[2017-05-12 06:45] llamedia opened #123 "WC 3 with SATT 2.0 - Product Bundles"
http://learn.lemonlimeadventures.com/product/the-worries-workshop-toolkit/

product bundle setup to do one time payment for 97$ and payment plan for 3 payments of 32.33

One Time Product Purchase is showing as "none" on the product page. If you add to cart and continue to the cart there are 3 options showing 97$ and then 2 32.33 options.

Any thoughts?

[2017-05-12 07:36] franticpsyx commented on #123
Hey @llamedia -- could you please specify which versions of WC, WCS and SATT you are running? Thanks!

[2017-05-12 07:46] llamedia commented on #123
`
### WordPress Environment ###

Home URL: http://learn.lemonlimeadventures.com
Site URL: http://learn.lemonlimeadventures.com
WC Version: 3.0.6
Log Directory Writable: ✔
WP Version: 4.7.4
WP Multisite: –
WP Memory Limit: 256 MB
WP Debug Mode: –
WP Cron: ✔
Language: en_US

### Server Environment ###

Server Info: Apache
PHP Version: 7.0.18
PHP Post Max Size: 54 MB
PHP Time Limit: 300
PHP Max Input

[2017-05-12 09:15] franticpsyx commented on #123
Hey @llamedia -- can you re-download the latest SATT version from https://github.com/Prospress/woocommerce-subscribe-all-the-things/tree/2.0 and re-test?

Using `v2` on a production environment is not recommended as the `2.0` branch is **not stable**. We are pushing new code to that branch as we continue working on version 2.0, so if you have to use it I would strongly recommend you re-download an

[2017-05-12 09:18] franticpsyx commented on #122
@seb86 -- It would be really appreciated if you could please use the issue tracker to report (or help with) actual issues. Using it for private comm doesn't offer much to the repo, or to SATT users and devs reading this. Thanks!

[2017-05-12 09:18] #122 closed

[2017-05-12 14:50] llamedia commented on #123
yeah, 100% know and agree. we had to upgrade to wc3 because 2 was causing a problem and 3 fixed that problem. but now it's created this problem.

we might end up having to utilize the lifterlms payment gateway for this launch.

but ultimately love the SATT Woo for shopping cart experience.

thank you for all of the whard work you put into this plugin. It is greatly appreciated and fills a HUGE hol

[2017-05-12 15:07] franticpsyx commented on #123
Thanks @llamedia -- we really appreciate the kind words 👍

So, did you try the latest version of https://github.com/Prospress/woocommerce-subscribe-all-the-things/tree/2.0 ? Did it fix the issue?

[2017-05-12 15:09] llamedia commented on #123
yes. i am using 2.0.

[2017-05-12 15:35] franticpsyx commented on #123
Did you re-download and re-install it?

That is a working branch which means its changing all the time - but the version number remains the same :)

[2017-05-12 15:49] llamedia commented on #123
ahh, ok thanks for the clarification. will try now.

On Fri, May 12, 2017 at 10:35 AM, Manos Psychogyiopoulos <
notifications@github.com> wrote:

[2017-05-12 15:59] llamedia commented on #123
no change on latest update.

[2017-05-13 02:55] franticpsyx commented on #123
@llamedia -- can you try again? I just just pushed some commits to the `2.0` branch. These PB integration patches have been made locally since last week, but were not pushed to the repo.

Note that the PB integration is the only one that's finalized in `2.0`. Composite Products and Mix-and-Match Products integrations are in progress.

[2017-05-13 02:58] llamedia commented on #123
giving it a try now.

On Fri, May 12, 2017 at 9:55 PM, Manos Psychogyiopoulos <
notifications@github.com> wrote:

[2017-05-13 03:05] llamedia commented on #123
<img width="1226" alt="screen shot 2017-05-12 at 10 03 45 pm" src="https://cloud.githubusercontent.com/assets/28643585/26022004/e47de23c-375e-11e7-83a1-92430115e143.png">

<img width="645" alt="screen shot 2017-05-12 at 10 04 32 pm" src="https://cloud.githubusercontent.com/assets/28643585/26022006/fca78390-375e-11e7-90f7-ccfc94d67afb.png">

product page still displays "none"  so no change there.
c

[2017-05-13 03:16] franticpsyx commented on #123
This is the desired behavior. Was it different in v1? It's consistent with how SATT works with other product types, too.

[2017-05-13 03:22] franticpsyx commented on #123
Hm, this works fine on my end. Can you please make sure you are running Product Bundles v5.2.4?

[2017-05-13 03:28] llamedia commented on #123
it's literally "no subscription" option. ha. it used to just say 97$

We currently only have the 1 product on the site. Do you know if i can pass a filter to display $97 instead of none?

I am running 5.2.4. It isn't a show stopper. to not have that total displaying, because the CART total is working.

[2017-05-18 01:14] javorszky commented on #102
Hey @franticpsyx ! The 2.0 branch still does not solve the double-discount issue.

[2017-05-18 01:16] javorszky commented on #102
Also, in our specific case we can't upgrade from Subs 2.0.20 because more things would break :/

[2017-05-18 06:04] franticpsyx commented on #102
Hey, thanks for having a look @javorszky -- will have a look at this before v2 hits "beta".

[2017-05-18 12:39] javorszky commented on #102
Hi @franticpsyx!

I've managed to sort of solve it for our project, though it's a bit hacky. I've had to do two things:

1. hook into `wcsatt_price_filters_allowed` when it's a renewal order (probably should do for resubscribes as well), because the order I'm paying already should have a discounted price. Setting this to false would prevent the double-discounts, and
2. hook into `wcsatt_set_produc

[2017-05-18 12:50] javorszky commented on #102
The method I hook into the `wcsatt_price_filters_allowed` hook is this:

[code]

[2017-05-18 16:56] thenbrent commented on #102
@javorszky almost identical code to that is already in Subscriptions from v2.1.4 onwards: https://github.com/Prospress/woocommerce-subscriptions/commit/3377da989a27760e840c37c814227dac037ddcd6 (introduced in https://github.com/Prospress/woocommerce-subscriptions/pull/1852)

I'd recommend you update. But you already know that. :)

[2017-05-18 21:54] javorszky commented on #102
@thenbrent I haven't seen that! :D Yes, we'd like to update, but client, and their cost-averse attitudes towards maintenance. :) Thank you though

[2017-05-19 14:08] kristinaplauche opened #124 "Subscription option display Every `Array`"
### What I expected.

To set up a Subscriptions rule for every day, week, month, or year and have that time period display on the front end.

### What actually happened.

The time period is listed as "Array".
![screenshot](http://cld.wthms.co/6NgMZ+)
Image link: http://cld.wthms.co/6NgMZ

### To Replicate:

**Have only these plugins active:**
WooCommerce 3.0.7
Subscriptions 2.2.6
Subscribe all the

[2017-05-19 18:47] thenbrent commented on #124
@kristinaplauche I think this is just another of the many things we'll find/fix once we get to 3.0 compatibility work with #96 (once we feel like Subscriptions is working reliably, we'll hopefully be able to make time to update our free extensions too.)

If you came to this issue via someone submitting a ticket to woocommerce.com, it's probably worth reminding them of this: https://github.com/Pros

[2017-05-19 18:47] #124 closed

[2017-05-22 16:52] kristinaplauche commented on #124
Tbh, I did not realize it wasn't 3.0 compatible yet and I've been recommending it to people who need the functionality. I know better now. 😬
Thanks Brent!

[2017-05-24 13:57] romanticrobot opened #125 "Subscriptions display / Array instead of / every Month etc"
Both the Master and 2.0 branches of Subscribe All The Things suffer from the same problem, on both our production site and a completely fresh install of Wordpress, it can be seen in full effect here:

https://www.intelligentlabs.org/product/ultra-pure-omega-3/

or the attached image
<img width="672" alt="screenshot 2017-05-24 20 54 04" src="https://cloud.githubusercontent.com/assets/12008253/26406

[2017-05-25 06:49] #125 closed

[2017-05-25 20:37] tlelkins opened #126 "Quantity Input Missing"
I noticed that on certain products, the quantity field doesn't appear.

For example, it doesn't show here: http://www.eighthandroast.com/shop/coffee/brazil-sweet-blue/

But it DOES show here: http://www.eighthandroast.com/shop/coffee/test-product/

Any idea why that is? It appears that if a product has already been created as a variable subscription product, then is changed to a simple product wit

[2017-05-26 09:25] javorszky commented on #126
Is the brazil sweet blue restricted to be individually sold, by any chance?

[2017-05-26 12:00] tlelkins commented on #126
Yep! I unchecked that box in the variable subscription menu and it totally worked. Thanks for that!

[2017-05-26 17:49] #126 closed

[2017-05-27 17:04] helgatheviking opened #127 "MnM - Subscription period is showing up as "array""
The subscription plan is $85 / array instead of $85 / month.

![image](https://cloud.githubusercontent.com/assets/507025/26523042/41918ea4-42d3-11e7-92bd-4482eef502a1.png)

This was a mix and match product with the following settings:

![image](https://cloud.githubusercontent.com/assets/507025/26523070/32000294-42d4-11e7-9ec3-169f67fc7abc.png)

SATT 2.0 -alpha
WC-3.1 -alpha
MNM- 1.2.3
Subs - 2.2.7

[2017-05-29 12:39] ImportantlyMe opened #128 "WC 3.07"
Hi

Where can I get a verison to try with WC 3.07 please ?

Thanks

John

[2017-05-29 13:18] franticpsyx commented on #127
WC 3.1? 👯 As if 3.0 was alright to start with.

It's a known issue @helgatheviking -- I haven't managed to look into CP/MnM compatibility just yet.

[2017-05-29 13:20] franticpsyx commented on #101
Closing in favour of  #127

[2017-05-29 13:20] #101 closed

[2017-05-29 13:22] franticpsyx commented on #123
This is definitely possible but I'm afraid I can't be of much help as we can't provide any support for customizations. Closing as the original issue seems to be fixed!

[2017-05-29 13:22] #123 closed

[2017-05-29 22:34] helgatheviking commented on #127
I mean 3.1-alpha is what's in their main branch now. Whether they've fixed all the 3.0 issues or not... 🤷‍♀️

I should test this out with a regular product, but the MNM config shouldn't have any bearing on the billing period `/array` conversion, but I also am not that familiar with this one.

[2017-05-31 10:27] umang-dev opened #129 "Version 2.0.0-alpha of WooCommerce Subscribe All the Things product Update issue from admin"
I am using Version 2.0.0-alpha of WooCommerce Subscribe All the Things. i am facing issue with subscriptions option not updating from admin. i have checked up database and found in old version we are using  _subscription_schemes field and for new verison using _wcsatt_schemes field. should i remove  _subscription_schemes field in database to make all products work ?

[2017-06-06 21:33] philschoefer opened #130 "Compatibility with "Advanced Pricing" or "YITH WooCommerce Role Based Prices""
Hi guys,

I just wanted to report that there is an issue with he plugin with a lot of "Role Based" pricing plugins that hook into the same "woocommerce_get_price" hook, specifically with Subscription Discounts.

Essentially the "Discount" entered for subscriptions is completely ignored once a plugin is installed that hooks into the same "woocommerce_get_price" hook as SATT does. It seems like "fil

[2017-06-08 09:13] franticpsyx commented on #130
Hey @philschoefer

SATT hooks into most price filters at priority `0` in order to be able to **overwrite** the price when the "Override product" option is selected under **Product Data > Subscriptions > Subscriptions Options > Price**.

So if a callback attached later does something similar, or is poorly coded (e.g. unnecessarily overwrites the passed value with a the "raw" prop value), then the S

[2017-06-08 09:13] #130 closed

[2017-06-08 13:36] franticpsyx commented on #128
Hey @ImportantlyMe -- feel free to try out the 2.0 branch: https://github.com/Prospress/woocommerce-subscribe-all-the-things/tree/2.0

Note that this is still alpha (work in progress), but we will be tagging a v2.0 beta very soon.

[2017-06-08 13:36] #128 closed

[2017-06-08 13:41] franticpsyx commented on #129
@umang-dev -- I see no `_subscription_schemes` meta in use in the v1.0 codebase. Both versions reference a `_wcsatt_schemes` meta.

Perhaps I haven't quite understood what you mean, but there is no need for a DB upgrade when moving from v1 to v2.

If there was a need to update the DB, a v2 upgrade routine would be included.

[2017-06-08 13:41] #129 closed

[2017-06-09 01:33] philschoefer commented on #130
Thank you! Yes that helps.

Sent from my iPhone

[2017-06-10 16:22] justjd23 opened #131 "Added to Composite Product, however price does not appear on product page."
![image](https://user-images.githubusercontent.com/29337861/27004443-dd2a8f36-4dce-11e7-8b11-795139539df0.png)

I entered in the price, however on the product page it only says "/ week" and no price appears.

[2017-06-10 17:05] justjd23 commented on #131
That appears when I add a single subscription option on the subscription tab. If I don't add an option, but force subscription, no price appears (which is ok), however does that mean it won't create a subscription? Does it default to any certain terms if I don't add a subscription option? Also, do I have to have more than one subscription option?

[2017-06-12 19:19] jchrislemmer opened #132 "Latest Version"
Hi guys,

Any idea when this extension will support the latest version of WooCommerce and WooCommerce subscriptions?

Thanks!
Chris

[2017-06-13 20:24] fdolin opened #133 "fatal error when activating Woocommerce subscribe all the things"
Hi there !

i've installed the woocommerce - subscribe all the things in order to have a mix and match product as a subscription.

So i've installed Woocommerce subscriptions 2.1, Woocommerce Mix and match and Woocommerce subscribe all the things.

However, when activating the Woocommerce subscribe all the things extension, i get the following fatal error

Fatal error: Cannot redeclare WCS_ATT() (

[2017-06-13 20:29] #133 closed

[2017-06-13 20:40] fdolin commented on #58
Hi there, I have the exact same issue : no additionnal "subscriptions" tabs on products, whereas  I have Woo Subscriptions current version over the required 2.0. Woo is also current and up to date...

Any idea why this tab is missing ?

thanks in advance

[2017-06-14 06:03] franticpsyx commented on #132
@jchrislemmer

Feel free to have a look at v2.0-alpha: https://github.com/Prospress/woocommerce-subscribe-all-the-things/tree/2.0

Note that this is a work-in-progress branch, but it should be more stable than its `alpha` tag suggests. We are planning to review 2.0-alpha internally and hopefully tag a 2.0 beta in the next couple weeks!

[2017-06-14 06:03] #132 closed

[2017-06-14 10:14] seb86 commented on #58
@fdolin Are you using SATT version 2.0?

[2017-06-14 10:17] fdolin commented on #58
hi @seb86 , actually i'm not sure what you mean by SATT version 2.0 ?

[2017-06-14 10:45] seb86 commented on #58
@fdolin The version of Subscribe all The Things. Are you using version 2.0 that is currently in development?

[2017-06-14 11:57] fdolin commented on #58
@seb86 the installed version is Version 1.1.2.Is there a more uptodate version?

[2017-06-14 12:40] fdolin commented on #58
the website is on Woocommerce 3.0.6, could this be the reason for this ?

[2017-06-14 13:08] fdolin commented on #89
hi, i'm also interested in this service. I've seen the thread #12 is about it, however this is locked and limited to collaborators.
Could i be added to this thread ? thank you

[2017-06-14 13:36] seb86 commented on #58
@fdolin A lot of improvements have been made and is compatible with all the latest updates.

[Read the new readme file](https://github.com/Prospress/woocommerce-subscribe-all-the-things/blob/2.0-readme/README.md) for details and [download SATT 2.0](https://github.com/Prospress/woocommerce-subscribe-all-the-things/archive/2.0.zip).

That should solve your issue.

[2017-06-14 13:54] #97 closed

[2017-06-14 13:57] franticpsyx commented on #127
@helgatheviking MnM seems to work fine for me with SATT v2.0-alpha, WCS 2.2 and WC 3.0.

Can you perhaps have another look when you find a few spare minutes?

[2017-06-14 14:20] fdolin commented on #58
thank you. I've updated the extension to the 2.0., but still have the same issue : subscriptions tab is not displayed on the product backoffice page...
Any idea on why ?

[2017-06-14 14:48] helgatheviking commented on #127
I'll try my best!

[2017-06-14 14:55] seb86 commented on #58
@fdolin I personally dont have this issue. Which version of WooCommerce Subscriptions do you have active?

[2017-06-14 14:59] fdolin commented on #58
woocommerce subscriptions Version 2.2.7

[2017-06-14 15:13] fdolin commented on #58
Actually after further tests :
when choosing the "product bundle" product type, i have the subscriptions tab displayed
when choosing the "mix n match" product type, the subscriptions tab is not displayed :

![capture d ecran 2017-06-14 a 17 10 55](https://user-images.githubusercontent.com/4179819/27139923-8ad02b98-5124-11e7-9c26-3ce7dddae65e.png)
![capture d ecran 2017-06-14 a 17 10 43](https://us

[2017-06-15 10:14] seb86 commented on #58
@fdolin What version of Mix n Match are you using?

[2017-06-15 10:29] fdolin commented on #58
WooCommerce Mix and Match Version 1.2.3

[2017-06-15 12:22] seb86 commented on #58
Strange. I'm getting the Subscriptions tab just fine. I wonder if there is a conflict with another extension that hides the tab.

[2017-06-15 12:22] seb86 commented on #58
@franticpsyx Any thoughts?

[2017-06-15 13:13] fdolin commented on #58
I've found the origin of the conflict : the bug appears when the plugin YITH WooCommerce Product Bundles is activated.

[2017-06-15 13:15] seb86 commented on #58
Ah. SATT only supports Product Bundles from WooCommerce.com

[2017-06-15 17:25] franticpsyx commented on #102
@javorszky

Might be wrong, but my feeling is that in order to resolve this, SATT will need to "load" only the subscription scheme that's being renewed/initialized on objects associated with cart items populated via `WCS_Cart_Renewal` or its child classes, _and_ overwrite/delete the discount defined in the set scheme so that it never gets applied.

By default, SATT will display all subscription op

[2017-06-15 17:29] franticpsyx commented on #58
Hey @seb86 -- you rock, thanks for handling this! Closing.

[2017-06-15 17:29] #58 closed

[2017-06-15 20:08] franticpsyx commented on #102
@javorszky -- I think bf7902962f722308eaee69ad548445423210870f should take care of this:

There doesn't seem be anything that prevents me from checking out when renewing/resubscribing. Without digging in deeper, I would say I don't see any cart-hash related issue.

[2017-06-16 09:42] franticpsyx commented on #12
Closing. Will re-open as we start tackling the tasks in https://github.com/Prospress/woocommerce-subscribe-all-the-things/wiki/Roadmap

[2017-06-16 09:42] #12 closed

[2017-06-16 09:44] franticpsyx commented on #12
Also this is too general. We plan to work on switching for different things: built-in types, carts, custom types. Each will be tackled separately and with different priority.

[2017-06-16 09:48] franticpsyx commented on #1
We'll be breaking this down in smaller chunks. See https://github.com/Prospress/woocommerce-subscribe-all-the-things/wiki/Roadmap

[2017-06-16 09:48] #1 closed

[2017-06-16 09:52] franticpsyx commented on #127
I'll take the risk and close this, as it really looks like an issue with using SATT v1 in combination with later WCS / WC versions. Can't replicate and MnM integration is not particularly complex to test as it only supports static MnM prices.

[2017-06-16 09:52] #127 closed

[2017-06-16 09:59] franticpsyx opened #137 "Custom Types: Look into bottlenecks and optimize integration performance"
SATT seems to be adding more time to loading Bundles / Composites than I'd like. It's not particularly troubling but noticeable, and needs to be looked into using xdebug to see where the inefficiency lies.

A hunch: I've seen that both PB/CP fail to cache calls to `get_bundle_price` and `get_composite_price`. Was surprised to see this didn't work at all after such a long time. There's definitely s

[2017-06-16 23:46] helgatheviking commented on #127
welp... I haven't gotten to test this, so I'll take your word for it!

[2017-06-18 07:53] jchrislemmer opened #138 "Conditions"
Hi there,

Is it possible to add conditions? So for instance if one of the components of a "Composite Product" is "X", then only subscription "X" is available. And if it's "Y" only subscription "Y" on that composite product is available.

Thanks
Chris

[2017-06-19 08:40] franticpsyx commented on #138
Hey @jchrislemmer -- sounds like a very case-specific requirement.

We have no plans to do anything like this, please refer to the [Roadmap](https://github.com/Prospress/woocommerce-subscribe-all-the-things/wiki/Roadmap) to see some of the features we want to build into SATT.

[2017-06-19 08:40] #138 closed

[2017-06-20 11:29] #137 closed

[2017-06-20 20:23] fdolin commented on #89
@franticpsyx @GAPP99  i'm very interested in a way to switch out my customers  Mix 'n Match products of the subscription they have, do you know where i could find more help on this ? thank you in advance,

[2017-06-20 20:27] GAPP99 commented on #89
Hi @fdolin. It's not possible currently, but it's on the roadmap for SATT 2.0+, so your best bet would be just to wait a few months. If you can't wait, I suggest you talk to @seb86, he might be able to build a custom system for you.

[2017-06-20 20:33] fdolin commented on #89
ok @GAPP99, thanks for the quick answer !

[2017-06-20 20:38] seb86 commented on #89
@GAPP99 @fdolin I literally sneezed when I got mentioned on this issue. How can I help? 😄

[2017-06-21 00:46] shyrgelber opened #139 "Unable to apply useful labels for subscription options"
Hi there, I have downloaded this plugin though it seems that I can't edit the labels so that it makes sense on the front end for the customer. I played around in inspector - is it possible to edit the labels somewhere so it looks like my screenshot? Thank you!
Here is my page where issue is: https://www.fortythieves.co.nz/product/cacao-hazelnut-with-toasted-coconut/

What it currently looks like:

[2017-06-21 01:18] seb86 commented on #139
@shyrgelber I suggest you install version 2.0 there is a new branch for it. The plugin is currently being reviewed before merging into the master branch ready for a new release.

[2017-06-21 02:00] shyrgelber commented on #139
Oh great - have done that and the "array" labels are fixed. Any chance I can change the option "none" to "one time purchase"?

[2017-06-21 03:50] shyrgelber commented on #139
I managed to fix that one too. Final question - how do I remove starting price and mention of subscription? I am happy to simply have the 'one time puchase' price.
<img width="446" alt="screen shot 2017-06-21 at 3 49 41 pm" src="https://user-images.githubusercontent.com/29587201/27366309-63ab3150-5699-11e7-8f52-bd94625e2153.png">
<img width="295" alt="screen shot 2017-06-21 at 3 49 31 pm" src="htt

[2017-06-21 06:09] franticpsyx commented on #139
@shyrgelber You'll need to write some custom code to do this.

In SATT v2, a price string like this will be generated when no subscription scheme is set on the object -- when `WCS_ATT_Product::get_subscription_scheme( $product )` returns `null`.

What you need is to hook into `woocommerce_get_price_html` (possibly conditionally, in the single-product summary) and if the product displayed:

- `WCS_

[2017-06-21 09:27] shyrgelber commented on #139
Thanks very much @franticpsyx unfortunately I'm not a developer and have tried to follow your instructions but haven't quite figured out how to fix it. @seb86 if you do have a moment to help me, that would be really fantastic. Thank you!

[2017-06-21 12:48] seb86 commented on #139
@shyrgelber Can you kindly please contact me via email to continue as this is not an issue with the plugin but a customisation and only issues should be commented here. Thank you.

[2017-06-21 19:20] rezzz-dev commented on #102
Much like @javorszky I can't upgrade to WCS 2.1 just yet but having 2 issues with the 2.0 branch that seems related to this.

1. If there are 2 products that are subscriptions on the order that fails, when the customer clicks on "Pay", only one gets added to the cart. Seems to be the second line item as well.

2. The shipping rate for the order doesn't pick up that they are subscriptions and not s

[2017-06-22 09:29] franticpsyx commented on #102
@rezzz-dev WCS 2.0 is not supported by SATT 2.0. If you can replicate an issue with WCS 2.1 I can go back and have another look, otherwise there's not much else I can suggest.

Thanks for looking into it!

[2017-06-22 10:09] rezzz-dev commented on #102
Understood.

[2017-06-23 15:58] souellette opened #140 "Price display issue"
The price showing for example 79.95$ / Array instead of month

![screen shot 2017-06-23 at 11 57 45 am](https://user-images.githubusercontent.com/3178372/27490156-354d8196-580b-11e7-8a0b-5f97ba373bc4.png)

[2017-06-23 16:34] thenbrent commented on #140
Hi @souellette this is a [known issue](https://github.com/Prospress/woocommerce-subscribe-all-the-things/issues?utf8=%E2%9C%93&q=is%3Aissue%20is%3Aclosed%20price%20array) related to WC 3.0 compatibility (#96).

We have a (very large) open pull request which included 3.0 compatibility, as well as this issue. Once it is merged, it will be fixed. See #136. Sorry for the trouble.

[2017-06-23 16:34] #140 closed

[2017-06-23 16:59] thenbrent opened #141 "Use string for text domain, not class constant"
SATT currently uses `WCS_ATT::TEXT_DOMAIN` as the text domain. The text domain should be a plain string. Not a variable or constant.

See:

* https://markjaquith.wordpress.com/2011/10/06/translating-wordpress-plugins-and-themes-dont-get-clever/
* http://ottopress.com/2012/internationalization-youre-probably-doing-it-wrong/
* https://ulrich.pogson.ch/string-text-domain-must (which disagrees with th

[2017-06-24 15:30] souellette commented on #140
any ideas of when its going to be fixed ?

thanks for the help

[2017-06-25 13:53] spruceupsoapco opened #142 "Recurring Totals Show 0 at Checkout"
When i select a subscription and then attempt to check out with that subscriptions the recurring billing details show as zero.
![image](https://user-images.githubusercontent.com/29690021/27516654-0d703dc6-598c-11e7-8644-b98498cf3962.png)

[2017-06-25 16:44] spruceupsoapco commented on #142
Please note this is a composite product

[2017-06-26 11:54] franticpsyx commented on #141
This is pretty much a leftover from when we were looking for a name. I've reminded myself to open an issue about this a few times in the past, so glad you noticed!

[2017-06-26 11:56] #139 closed

[2017-06-27 03:49] dmorton2 opened #143 "missing subscription option on frontend"
Am using the Mix and Match and Subscription plugin with this ext.

in the product 'Subscription Options' iv add 2, monthly and weekly but on the front end i can not see any option to select a 'monthly' or 'weekly' subscription ?

[2017-06-28 14:59] dmorton2 commented on #143
After some searching i see its not compatible with the latest version am using!
i've found and older version of Mix and Match v1.1.2 but again it still dose not show up :-(
This would have been perfect what i require... anyone got an idea how to fix this...HELP

[2017-06-28 16:06] franticpsyx commented on #143
@dmorton2 SATT v1 is not compatible with WooCommerce 3.0.
v2, which supports WooCommerce 3.0 and the latest version of Mix & Match is currently being [reviewed](https://github.com/Prospress/woocommerce-subscribe-all-the-things/pull/136) and will be [released](https://github.com/Prospress/woocommerce-subscribe-all-the-things/releases) soon! :)

Note that Mix-and-Match bundles with **Per Item Pricin

[2017-06-28 16:06] #143 closed

[2017-06-28 16:51] dmorton2 commented on #143
Thanks for the update, looking forward to the new release.

[2017-06-29 09:25] franticpsyx opened #144 "Set up Travis"
See https://github.com/Prospress/woocommerce-subscriptions-gifting

cc @jconroy -- in case if you have any quick tips/gotchas to share from experience.

[2017-06-29 09:26] franticpsyx opened #145 "Update labels"
* bug:confirmed vs. bug:needs-confirmation
* feature: can be either “request” or just “feature”, which means planned
* priority: this is low to critical (https://github.com/prospress/woocommerce-subscriptions/labels)
* scale: tiny to epic

[2017-06-29 09:27] franticpsyx commented on #141
Tempted to fix this in the v2 branch, but I will wait until after we merge. 😈

[2017-06-29 22:02] jconroy commented on #144
Off the top of my head the main gotcha will be if you need pull in a private repo (like subscriptions).

There are a few options e.g. https://docs.travis-ci.com/user/private-dependencies/ - the most straight forward was using an API token https://docs.travis-ci.com/user/private-dependencies/#API-Token

On gifting we add it as an envcrypted env variable - the downside is that the variable isn't ava

[2017-07-02 21:53] BobBrokman commented on #96
Hi,
I was trying to evaluate this plugin which looked pretty cool.
I checked out branch 2.0 and gave it a run alongside WC 3
As you can see from the screenshot (https://ibb.co/hsK8Cv), if I select 24 months subscription for the whole cart, it still shows the full price(s). Is it a bug or there are some extra settings I need to tweak?

[2017-07-03 14:09] ishmaelangelo opened #146 "$subscription_period displayed as text 'Array'"
WC_SATT saves the subscription parameters together as serialized data with meta key _wcsatt_schemes  in wp_postmeta.
(wp-content/plugins/woocommerce-subscribe-all-the-things/includes/admin/class-wcsatt-admin.php 221)

However $option[ 'description' ] is displayed as '$40.47 / Array' instead of something like '$40.47 / Month'
(wp-content/plugins/woocommerce-subscribe-all-the-things/templates/single

[2017-07-04 20:49] franticpsyx commented on #146
@ishmaelangelo Have a look at https://github.com/Prospress/woocommerce-subscribe-all-the-things/pull/136

Sounds like the Product API we are introducing in v2 might be useful to you.

Also note SATT v1 is not compatible with WC 3.0+.

[2017-07-04 20:49] #146 closed

[2017-07-04 22:44] franticpsyx opened #147 "Make file names consistent with class names"
See https://github.com/Prospress/woocommerce-subscribe-all-the-things/pull/136#pullrequestreview-45871671

@thenbrent Thought we might prefer to change file names instead of class names for back-compat?

Will send a PR into the `2.0` branch.

[2017-07-05 00:37] ishmaelangelo commented on #146
Great. I'm ready to do testing on v2 when it's ready. Let me know if there is anything else I can help with. Thanks

[2017-07-05 07:35] franticpsyx commented on #147
See #148

[2017-07-05 07:35] #147 closed

[2017-07-05 07:45] umang-dev opened #149 "Product price not showing"
Hello Guys,

  I am using woocommerce subscribe all the things 2.0 version. i am getting following error on admin.

Fatal error: Call to a member function has_price_filter() on string in /home/petwant1/public_html/wp-content/plugins/woocommerce-subscribe-all-the-things-master/includes/class-wcsatt-scheme-prices.php on line 149

due to this error price does not displaying. please help us to solve t

[2017-07-05 07:47] franticpsyx commented on #142
@spruceupsoapco Can you please share WC/CP/SATT version numbers?

[2017-07-05 07:52] umang-dev commented on #149
Also I am getting these errors after updating woocommerce version to 3.0.1.

[2017-07-05 08:03] franticpsyx commented on #149
@umang-dev Can't replicate using the latest `2.0` dev version. Note this is an alpha version and a work-in-progress branch.

We will be tagging a beta version soon so I would suggest waiting for that one if you are not able to track down the cause of the issue and/or send a PR.

[2017-07-05 08:03] #149 closed

[2017-07-05 08:04] #145 closed

[2017-07-05 08:22] franticpsyx opened #150 "[2.0] Rename has_subscriptions to has_subscription_schemes"
See https://github.com/Prospress/woocommerce-subscribe-all-the-things/pull/136#discussion_r123646088

[2017-07-05 08:40] franticpsyx opened #151 "[2.0] Minor Patches"
List of minor review patches to add to #136 --

- [x] https://github.com/Prospress/woocommerce-subscribe-all-the-things/pull/136#discussion_r123647112 -- Fix `opion` typo.
- [x] https://github.com/Prospress/woocommerce-subscribe-all-the-things/pull/136#discussion_r123648330 -- Rename `is_legacy_subscription` to `is_subscription_product_type`.
- [x] https://github.com/Prospress/woocommerce-subscrib

[2017-07-05 08:57] franticpsyx opened #152 "[2.0] Condense WCS_ATT_Product_Price::get_[regular_/sale_]price()"
See https://github.com/Prospress/woocommerce-subscribe-all-the-things/pull/136#discussion_r124386328

[2017-07-05 12:13] spruceupsoapco commented on #142
SATT = 2.0
WC = 3.0.9
CP = 3.10.1

It seems that the recurring totals show on check out when you use the price override but it does not show total products recurring totals if you choose to  inherit the product prices of the products that make up the composite product. When you inherit the product prices the cp price override is auto set to 0 which is why i am assuming the recurring totals show 0

[2017-07-05 13:11] franticpsyx opened #153 "[2.0] Handling of renewals/resubscriptions when the active subscription scheme no longer exists"
See https://github.com/Prospress/woocommerce-subscribe-all-the-things/pull/136#discussion_r124692666

To be fixed:

- [x] General handling of cart items with an incorrectly applied scheme.
- [x] Handling of products with deleted scheme when re-subscribing.
- [x] Handling of products with deleted scheme when renewing.

[2017-07-06 11:21] steven-cotterill opened #154 "Fatal error on Cart page"
Hi all, I am receiving a Fatal Error on the Cart page. I am currently running:

+ WordPress 4.8
+ Flatsome theme 3.3.7
+ WooCommerce 3.1.0
+ WooCommerce Subscriptions 2.2.8
+ WooCommerce SATT 1.1.2
+ A number of other plugins, all up to date.

This was working fine until I recently updated to the newest versions of everything. Any help here would be great.

Thanks, error below:

------------------

[2017-07-06 11:57] franticpsyx commented on #154
@steven-cotterill SATT v1 is not compatible with WC 3.0+

We are currently [finalizing](https://github.com/Prospress/woocommerce-subscribe-all-the-things/pull/136) work on SATT v2 which will support WC 3.0+.

[2017-07-06 11:57] #154 closed

[2017-07-06 11:58] steven-cotterill commented on #154
Hi, sorry to open this again. Is there any type of timescale for v2?

[2017-07-06 14:33] franticpsyx commented on #154
@steven-cotterill We should have a beta version tagged around mid-July.

[2017-07-06 14:35] steven-cotterill commented on #154
Cheers!

[2017-07-06 21:43] #141 closed

[2017-07-07 13:46] umang-dev opened #158 "_subscription_schemes metakey issue with woocommerce 3.0.1"
Hello Guys,

         I am using woocommerce version 3.0.1 with woocommerce-subscribe-all-the-things 2.0 tree from github. In previous woocommerce when i edit product from backend it doest not give me error and all products display well. but with woocommerce version 3.0.1 , i am getting following error:

PHP Fatal error:  Call to a member function has_price_filter() on string in /home/petwant1/pub

[2017-07-07 19:24] jakeperrin opened #159 "Array text and wrong price"
It displays array where it should show the frequency.  Also the subscription price doesn't carry over to the cart.  Here is how I have things:

Product price...
http://cloud.jakeperrin.com/3Y0g1C0F202n

Subscription...
http://cloud.jakeperrin.com/0d1G3K3H2H0t

Product page...
http://cloud.jakeperrin.com/0J2C3m0a103V

Cart...
http://cloud.jakeperrin.com/0F1M263w0c3g

[2017-07-07 19:31] ozguruzden commented on #159
I have the exact same issue.

[2017-07-07 19:34] ozguruzden commented on #159
You can see from these screenshots;
http://prntscr.com/fsxg61
http://prntscr.com/fsxgiz

I use woocommerce 3.0

[2017-07-08 10:50] franticpsyx commented on #159
See https://github.com/Prospress/woocommerce-subscribe-all-the-things/issues/124

[2017-07-08 10:50] #159 closed

[2017-07-08 10:52] franticpsyx commented on #158
@umang-dev Do you remember when you installed v2.0 for the first time? That key should not have been saved in your database if you installed SATT in the last month or so.

[2017-07-08 14:51] sambomcd commented on #96
Hi,

I know you guys are super busy with the 2.0 update (huge thanks!), and I don't want to waste your time. I've been trying 2.0 out. Forgive the vagueness, but pre2.0 if I was subscribed to a Product Bundle, and the items bundled within that changed between renewals, then the next renewal would give me the updated contents of the Bundle. I am seeing in 2.0 that if I change the items in the Bundl

[2017-07-08 15:44] franticpsyx commented on #96
@sambomcd Can you please open a new issue about this? Thanks!

[2017-07-08 15:52] sambomcd commented on #96
Of course! Apologies - I just wasn't sure if this was an actual issue or if I am confused about how it is supposed to work. Normally it is the latter...

[2017-07-08 16:25] sambomcd opened #160 "SATT 2.0/PB - Changes to Bundle contents not reflected in subsequent renewals"
**Use case:**
- Subscribed to a Product Bundle type product
- Change the contents of the Bundle (i.e. add/remove products within the bundle)
- Subsequent renewals still reflect the original bundle contents from when the subscriptions started. It does not update to reflect the new composition of the Product Bundle

**Expected behaviour**: subsequent renewals reflect any changes made to the Product

[2017-07-09 10:22] franticpsyx opened #161 "[2.0] Break up God API class and clean up old Scheme classes"
See https://github.com/Prospress/woocommerce-subscribe-all-the-things/pull/136#issuecomment-313195277 and https://github.com/Prospress/woocommerce-subscribe-all-the-things/pull/136#issuecomment-313871639

[2017-07-10 09:43] umang-dev commented on #158
Hello,
  I have installed v2.0 in end of april or may. I have then updated code 2 or more time from github page 2.0 tree. Can this problem be solved? Can you help me?

[2017-07-10 10:08] franticpsyx commented on #158
@umang-dev Sounds like you might need to delete all occurrences of the "runtime" `_subscription_schemes` meta from your database manually. We have added some code to ensure this won't happen with the stable version.

Beyond bug-fixing, there is little more we can do -- running alpha/beta software on a live website is (as always) not for the faint-hearted.

[2017-07-10 10:08] #158 closed

[2017-07-10 12:49] franticpsyx commented on #161
Closing -- will reopen if needed (see https://github.com/Prospress/woocommerce-subscribe-all-the-things/pull/136#issuecomment-313913443)

[2017-07-10 12:49] #161 closed

[2017-07-10 12:50] #150 closed

[2017-07-10 13:38] franticpsyx opened #163 "[2.0] Review runtime meta - function names & keys"
See https://github.com/Prospress/woocommerce-subscribe-all-the-things/pull/136#discussion_r123648135 and https://github.com/Prospress/woocommerce-subscribe-all-the-things/pull/136#discussion_r123646941

Also thought it might be best to use a single meta key to store all object-specific "runtime data" for SATT, e.g. `_satt_runtime_data`.

[2017-07-10 17:04] #151 closed

[2017-07-11 10:27] #163 closed

[2017-07-11 10:28] #102 closed

[2017-07-11 11:22] franticpsyx opened #166 "[2.0] Scheme option toolbar accessibility"
Needs some accessibility improvements.

[2017-07-11 11:23] franticpsyx opened #167 "[2.0] Update grunt dependencies"

[2017-07-11 11:23] franticpsyx opened #168 "[2.0] Add RTL CSS"

[2017-07-11 11:25] franticpsyx opened #169 "[2.0] Check textdomains"
Update Gruntfile.

[2017-07-11 11:27] #167 closed

[2017-07-11 11:38] #166 closed

[2017-07-11 11:38] #168 closed

[2017-07-11 11:38] #169 closed

[2017-07-11 12:18] #152 closed

[2017-07-11 12:32] franticpsyx commented on #142
@spruceupsoapco Wasn't able to replicate any issue here.

"Override" only affects the base composite price, and child/component prices are not modified.
"Inherit" affects both the base composite price and child/component prices in the same way (same discount applied to all). Example:

https://cl.ly/3T3e3M0Y3B2N

See https://cl.ly/2U2g3K3b0D2q -- assuming a base price of $100:

- The weekly scheme

[2017-07-11 12:32] #142 closed

[2017-07-12 08:42] sambomcd commented on #160
(I am just commenting to cancel my earlier 'disclaimer'!) Having given this more thought, I think even if it wasn't the way it worked pre-2.0, it seems to me that this refreshing of Product Bundle contents is logically how it needs to function. Subscribing to a Product Bundle is not the same as subscribing to each of the individual bundled products within the Bundle, which is the current behaviour

[2017-07-12 13:29] zielo opened #171 "Shows double subscription period"
Subscription details that shows period are doubled.
![capture1](https://user-images.githubusercontent.com/6492978/28119872-fffa78f0-671e-11e7-9255-c60895e12dc9.PNG)

And here:
![capture](https://user-images.githubusercontent.com/6492978/28119931-30e49b12-671f-11e7-9805-8ee4285a0caa.PNG)

How to remove the extra <span subsription-details..?

[2017-07-12 14:24] franticpsyx commented on #171
@zielo Can you please share WC / SATT / WCS version info? Thanks!

[2017-07-12 16:48] zielo commented on #171
@franticpsyx thanks for prompt reply. Here it is WC: 3.1.1 / SATT: 1.1.2 / WCS  2.2.7 thanks

[2017-07-12 20:05] thenbrent commented on #153
I'm not if this will be comprehensive, but here's some tips.

### Prevent Resubscribe

The easiest way to prevent a subscriber [resubscribing](https://docs.woocommerce.com/document/subscriptions/customers-view/#section-16) after the scheme has been deleted is to use the `'wcs_can_user_resubscribe_to_subscription'` filter. Hopefully the params are all self explanatory.

### Handle Renewal

This is

[2017-07-13 06:57] franticpsyx commented on #153
@thenbrent thanks for the tips! I think I am quite familiar with the product/cart side of WCS. This time it looks like we will not be able to count on WCS to do the heavy lifting without some hacking.

The problem is that all that code runs only if a cart item has been converted to a subscription by SATT _already_. If the originally purchased scheme doesn't exist, then SATT fails silently and the

[2017-07-13 07:09] franticpsyx commented on #153
PS: Note that some of these complications arise from the fact that SATT inherently includes "switching" features that make switching easy _in the cart_.

So while digging into all of this, it became apparent to me that I needed to see how WCS handles switching, too. 🌵

[2017-07-13 07:53] franticpsyx commented on #153
Updated list of to-dos.

[2017-07-13 12:52] franticpsyx commented on #153
Again, the scenario we want to deal with as a start:

- Customer adds product in the cart.
- At the same time, shop owner changes the subscription schemes attached to the product.
- Customer attempts to check out. The originally selected scheme is not there anymore.

To tackle this, we need to add some new cart item validation logic in SATT which should be there regardless of how we will handle th

[2017-07-13 18:00] ly148 opened #172 "Different discount options not compatible in one single product page"
It seems like the subscription option with extra discount doesn't work at all.

![image](https://user-images.githubusercontent.com/10776604/28180070-fa4dd934-67d1-11e7-9d1e-3c244832e2a7.png)

I wanted to encourage customers to subscribe by adding a 40% discount plus 1st-month free trial, while the one-time purchase discount is 30%. Then I added the subscription option to cart and checked out, but

[2017-07-13 18:35] thenbrent commented on #153
Yes definitely. Ideally this is handled just once.

That sounds good, what about instead:

1. not adding the product to the cart
1. redirecting the customer to the product page
1. displaying the notice there

The product page is handy in case there are other things that need to be set/chosen in relation to choosing a new subscription scheme/product (e.g. if product add-ons, or something else is as

[2017-07-13 18:37] franticpsyx commented on #171
SATT v1 is not compatible with WC 3.0+

We are currently [finalizing](https://github.com/Prospress/woocommerce-subscribe-all-the-things/pull/136) work on SATT v2 which will support WC 3.0+.

[2017-07-13 18:37] #171 closed

[2017-07-13 19:33] franticpsyx commented on #153
👍 Sounds like we might need to remove all scheme data from the object when renewing. Then our general sanity-checking [logic](https://github.com/Prospress/woocommerce-subscribe-all-the-things/commit/8e028846e9ae4b9802e587031cf2d61395e880f1) won't even kick in, and (hopefully) the problem will solve itself.

[2017-07-13 23:02] franticpsyx commented on #153
https://github.com/Prospress/woocommerce-subscribe-all-the-things/commit/2ca4d1684d39ef71008be762289c71fc0b3f9a09 removes all scheme data from the object when renewing and prevents our cart validation logic kicking in.

Renewals go through fine even if the original scheme no longer exists.

Initial subscription payments are also handled well, I think. Here's what happens when attempting to pay for

[2017-07-13 23:06] franticpsyx commented on #153
Not sure about this. Would be nice if only attempting to resub / pay-the-initial-order for a single product, but a subscription may include multiple items _in general_.

[2017-07-13 23:21] franticpsyx commented on #153
The existing logic appears to work when re-subscribing, as well. If the original scheme is unavailable, resubscribing shouldn't work as the "terms" have changed.

[2017-07-17 12:48] sambomcd opened #174 "subscriptions"

[2017-07-17 12:49] #174 closed

[2017-07-17 14:39] sambomcd opened #175 "Can't purchase SATT product - Internal Server Error at checkout"
Not sure if anyone else is running into this.

Using SATT 2.0. I am getting the above when attempting to purchase a product that has had an SATT sub set for it. Works fine for 'One off' purchase, but if I select one of the Sub options the above error is received. WC shows status as Payment Pending.

It appears sometimes Stripe is registering payment, other times not?

Environment: WC 3.1.1, WCS 2.

[2017-07-17 15:53] seb86 commented on #172
Please provide your WooCommerce System Status report so we can take a look. Thank you.

[2017-07-17 16:04] sambomcd commented on #175
After further testing, this seems to be happening on a standard (non-SATT) subscription too. So I am going to guess this is either a problem my end, or a WCS issue or a Stripe issue. But looks like it isn't a SATT issue. Apologies.

[2017-07-17 17:34] #175 closed

[2017-07-17 17:34] thenbrent commented on #175
Thanks for letting us know @sambomcd

[2017-07-17 17:49] sambomcd commented on #175
Apologies - meant to closed this myself.

[2017-07-17 18:25] zielo opened #176 "Still shows double subscription period"
I`ve downgraded to WC 2.6.14 and I`m using latest SATT version, however I get the same error - the subscription on cart and check out pages is doubled. See below:

![28119872-fffa78f0-671e-11e7-9255-c60895e12dc9](https://user-images.githubusercontent.com/6492978/28283424-612596f8-6b36-11e7-9018-174a198d7b4e.PNG)

![28119931-30e49b12-671f-11e7-9805-8ee4285a0caa](https://user-images.githubuserconten

[2017-07-17 18:38] ly148 commented on #172
Please see attached, thanks!
[Woocommerce System Report.txt](https://github.com/Prospress/woocommerce-subscribe-all-the-things/files/1153644/Woocommerce.System.Report.txt)

[2017-07-18 02:26] aljohnrey opened #177 "When will be the final release of SATT v2?"
Do you the have  SATT v2 of "Subscribe All the things" now?

[2017-07-18 03:58] thenbrent commented on #177
Current progress is in https://github.com/Prospress/woocommerce-subscribe-all-the-things/pull/136

We're aiming to have a public release done within the next couple of weeks. Sorry for the delay.

[2017-07-18 03:58] #177 closed

[2017-07-18 04:00] aljohnrey commented on #177
Ack

Thank you for the response!

[2017-07-18 11:54] franticpsyx opened #178 "[2.0] Drop WC 2.6 support"
WooCommerce 2.6 support needs to be dropped. We have decided to continue supporting WC 3.0 only due to the excessive number of breaking changes that 3.0 introduced.

Since the resources we have available for developing and maintaining SATT are limited, we have decided that it's better to focus on the future of the project rather than its past.

[2017-07-18 11:55] franticpsyx commented on #178
@thenbrent This will be the last one before we tag 2.0.0 beta.

[2017-07-18 11:57] franticpsyx commented on #176
@zielo See https://github.com/Prospress/woocommerce-subscribe-all-the-things/issues/178

If this happens with the latest version of WCS, SATT and WC, we are happy to investigate. Unfortunately the limited amount of resources we have available for SATT makes it difficult to keep supporting older WC/WCS versions.

Thanks for understanding!

[2017-07-18 11:57] #176 closed

[2017-07-18 12:02] franticpsyx commented on #172
@ly148 Can't replicate -- @seb86 thanks so much for helping out! Looks like a plugin conflict, or version-related issue.

[2017-07-18 12:09] zielo commented on #176
Strange, because I reported the same bug twice. Previously you replied that this is a compatibility issue and closed the thread. You wrote that WC 3+ is not compatible with latest SATT. Even though I was using the latest versions of WCS, SATT and WC.  Guess what, it`s not compatible with any versions, either older or the newest. What does it take to recognize it as a bug??

[2017-07-18 12:11] seb86 commented on #178
I was thinking the same thing today. Its important that we support the plugin properly and not hold ourselves back to deliver a great product. Otherwise its just more work for something that will eventually be done for nothing at the going rate that WooCommerce is improving.

[2017-07-18 12:31] franticpsyx commented on #176
@zielo

- WC 3.0+ is not compatible with SATT version 1
- WC 3.0+ is supported by SATT version 2, which is about to be released.
- SATT version 2 will not support WC 2.6.

This will be fixed in SATT v2, which will support WC 3.0 only. We will not be releasing another v1 version, so if this bug is present when using SATT v1 in combination with WC 2.6, then your only option will be to update to WC 3

[2017-07-18 20:46] ozguruzden opened #179 "Status change to on-hold on Renewal"
Hi there,
I created a subscription with SATT2 on WC3.
Subscription reneval period is daily. When subscription tried to renew, it becomes on-hold status and does not create new order.

I also created subscription product with subscription plugin to see if problem is related to my payment gateway or not, it works.

I am not sure if it is related to my system or not but there can be a bug.

[2017-07-18 23:28] seb86 commented on #179
Can you provide us with your WooCommerce System Status report. Thank you.

[2017-07-19 05:50] ozguruzden commented on #179
Of course, here it is,

`
### WordPress Environment ###

Home URL: http://52.29.1.8
Site URL: http://52.29.1.8
WC Version: 3.1.1
Log Directory Writable: ✔
WP Version: 4.8
WP Multisite: –
WP Memory Limit: 256 MB
WP Debug Mode: –
WP Cron: ✔
Language: tr_TR

### Server Environment ###

Server Info: Apache/2.4.18 (Ubuntu)
PHP Version: 7.0.15-0ubuntu0.16.04.4
PHP Post Max Size: 512 MB
PHP Time Limit: 3

[2017-07-19 14:49] ly148 commented on #172
@franticpsyx @seb86 Thanks for your reply! @franticpsyx Could you please give a hint of which specific plugin leads to the problem? Thanks!

[2017-07-20 06:31] #178 closed

[2017-07-20 07:37] franticpsyx commented on #160
Thanks for the follow-up @sambomcd - closing!

[2017-07-20 07:37] #160 closed

[2017-07-20 07:38] #153 closed

[2017-07-20 07:39] sambomcd commented on #160
@franticpsyx I'm not sure why you are closing? I was confirming in my follow up that the behaviour is not working as it should?

[2017-07-20 08:28] franticpsyx commented on #160
@sambomcd There are still a couple loose ends with Product Bundles & Composite Products compatibility that affect renewals/re-subscriptions -- these need to be patched on the PB/CP side.

Please drop me a line over at support@somewherewarm.gr and I'll see what I can do.

[2017-07-20 08:42] franticpsyx commented on #160
For posterity, the "right" behavior IMO is this:

If the contents of an existing bundle change, then effectively:

- the bundle configuration might be changed,
- some bundled products may no longer exist, or
- some new ones may have been added.

If so, then the behavior will be the same as when attempting to renew/resubscribe a subscription that contains invalid products.

@thenbrent I am not sure

[2017-07-20 09:32] #42 closed

[2017-07-20 09:32] #96 closed

[2017-07-20 09:47] franticpsyx commented on #179
Hey @ozguruzden -- could you please install [2.0.0 Beta 1](https://github.com/Prospress/woocommerce-subscribe-all-the-things/releases/tag/2.0.0-beta.1) and re-test?

If the issue persists, could you provide some more details:

- Which gateway are you using?
- What type of product are you testing?
- A screenshot of the "Subscriptions" tab of that product.
- A screenshot of your **WooCommerce > Sett

[2017-07-20 09:48] franticpsyx commented on #172
@ly148 could you please install [2.0.0 Beta 1](https://github.com/Prospress/woocommerce-subscribe-all-the-things/releases/tag/2.0.0-beta.1) and re-test **after de-activating all plugins except**:

- WC
- WCS
- SATT

Thanks!

[2017-07-20 11:54] pat1121 opened #181 "Just updated - subscription time periods not displaying correctly on product page"
First of all, thank you. This plugin does exactly what I want and it's been awesome for the last few months!!

Just downloaded the latest version, and updated the version from January by deactivating the old plugin and activating the new one.

Now instead of $XX.xx / Month, my product pages show $XX.xx / array. Any idea's where I can find and fix this? I have tried deleting the old subscription da

[2017-07-20 13:13] pat1121 commented on #181
I just reverted back to the old version until I can figure out the issue, the demo page above will appear correctly for now.

[2017-07-20 13:48] franticpsyx commented on #181
@pat1121

Please make sure you are testing with [this](https://github.com/Prospress/woocommerce-subscribe-all-the-things/releases/tag/2.0.0-beta.1) version.

If you have any custom code or plugins that run on top of SATT you may need to get them updated to work with v2.0.

[2017-07-20 21:36] sambomcd commented on #160
Hmmm. I can see it working both ways. In my current situation, the Product Bundle is a food bag, with recipes that get swapped each week. The customer subscribes to the Bag itself, expecting the contents to be different each week. The subscription is tied to the Bag as that is the constant, and where the price is set. This is not a 'grandfathering' situation, per se. We are not, logically, bringin

[2017-07-20 22:02] thenbrent commented on #160
Yep there are. PayPal Standard, WorldPay and any other gateway which doesn't support _Recurring Total Modifications_, as listed here: https://docs.woocommerce.com/document/subscriptions/payment-gateways/#section-3

@franticpsyx the behaviour you describe is the default behaviour by Subscriptions for all products. Modifying a product's details doesn't change subscriptions with that product as a lin

[2017-07-21 07:26] franticpsyx commented on #160
@thenbrent -- "right" was probably a bad term to use. I was thinking exactly what you said, which is better described as "technically more feasible" from a dev's perspective and "more common" from an end-use perspective.

@sambomcd Thanks for sharing that! This is definitely a valid use case that I would throw in our "subscription content switching" bucket. See the [Roadmap](https://github.com/Pro

[2017-07-21 07:43] sambomcd commented on #160
Appreciate the input and explanations, guys.

So what I am understanding is:

- the way I thought it worked by default is wrong
- the way it works by default is the complete opposite of what I thought
- making it behave in the way I describe is possible, but complicated

You guys sure know how to destroy a man's hopes and dreams! ;)

This is a bit tricky, as my use case seems (to me at least) not

[2017-07-21 09:34] franticpsyx commented on #179
Tested using https://github.com/somewherewarm/woocommerce-gateway-dummy to process auto renewals without issues.

Manual renewals also appear to work fine here.

[2017-07-21 10:19] zielo commented on #176
@franticpsyx thanks for clarifying, also great job with the new v.2 release! Thank you! Now I`m actually using WC 3.1.1, and WS 2.2.7 together with the latest SATT beta release, but the problem still persist. I`m not really sure if this is even SATT issue, or Mix and Match products plug-in, which I doubt, but still I don`t see how others don`t have problems with it, as it really looks a major one.

[2017-07-21 11:50] ozguruzden commented on #179
Very sorry, I could not checked with beta due to my travel.
I will update plugin and re-test.

[2017-07-21 15:21] ly148 commented on #172
@franticpsyx It works!! Thank you so much!

[2017-07-21 21:15] thenbrent commented on #160
Sorry! :( It will eventually be possible, just not yet.

The good news, or at least, not-so-bad news is that from a code perspective, it's not crazy hard to use different line items on each renewal order.

The hard part is creating the actual interface for that.

While the **Edit Product** interface could be used in the case of a Bundled product, this problem is actually more generic than just Pro

[2017-07-22 08:24] franticpsyx commented on #172
@ly148 Thanks for the follow-up!

Note that if you are using any custom code on top of SATT (such as snippets, template overrides or plugins), you will need to update that to work with SATT v2.

It looks like you are using a plugin to enable Free Trials with SATT -- if so, then you will need to ensure that the version you are running is fully compatible with SATT v2!

[2017-07-22 08:24] #172 closed

[2017-07-22 08:59] sambomcd commented on #160
Thanks for the comments and reassurances @thenbrent!! I appreciate you guys have a lot on, and you are doing a fantastic job with things like SATT that I am not complaining about this. (PS Are there still plans for SATT become how the Subscriptions plugin works by default?? Subscriptions on its own would not be much use to me!)

I also appreciate your idea around how I could approach doing this my

[2017-07-22 09:03] franticpsyx commented on #176
Replicated and patched in `master`.

[2017-07-22 17:29] ozguruzden commented on #179
Hi again,
I created new subscription with beta version and the problem goes on.

**Which gateway are you using?** - Woocommerce AC Iyzico Güvenli Ödeme: (Abdullah Ceylan) – 1.0.2
**What type of product are you testing?** - Basic Procuct
**A screenshot of the "Subscriptions" tab of that product.** http://prntscr.com/fyy8wt
**A screenshot of your WooCommerce > Settings > Subscriptions page.** http:/

[2017-07-24 01:17] aljohnrey opened #182 "Is the SATT v2 out now?"

[2017-07-24 04:18] eliv3n opened #183 "Woocommerce "Subscription Data" tab is missing."
![screen shot 2017-07-24 at 12 13 58 pm](https://user-images.githubusercontent.com/7813781/28508022-1d40444a-706a-11e7-99a4-40075b372831.png)

Deactivated all the plugins, using "Avada" theme latest version.

[2017-07-24 04:19] eliv3n commented on #183
anyone duplicated the same issue?
I have this issue after updating to the latest version of woocommerce subscription plugin.

[2017-07-24 05:58] eliv3n commented on #183
i find the issue within the CSS
![screen shot 2017-07-24 at 1 32 13 pm](https://user-images.githubusercontent.com/7813781/28509719-97e90b1c-7076-11e7-9fe2-193391875ce6.png)

any shortcut or snippets to overwrite the current class 'postbox closed' ?

[2017-07-24 08:59] zielo commented on #176
@franticpsyx Thanks a bunch! It works as a charm now!

[2017-07-24 15:10] willgorham commented on #182
2.0 Beta release is here: https://github.com/Prospress/woocommerce-subscribe-all-the-things/releases/tag/2.0.0-beta.1

Not a production release yet though

[2017-07-24 18:29] thenbrent commented on #160
Yes definitely. That's the final item in the _Long Term_ section of the roadmap: https://github.com/Prospress/woocommerce-subscribe-all-the-things/wiki/Roadmap

And the more in-depth background/explanation is here: https://github.com/Prospress/woocommerce-subscribe-all-the-things/wiki/Future-of-Subscribe-All-the-Things

[2017-07-24 18:34] thenbrent commented on #183
@eliv3n that doesn't look like an issue specific to _Subscribe All the Things_, it looks like a _theme_ conflict with the main Subscriptions plugin.

This repository is for issues with _Subscribe All the Things_, not the main _Subscriptions_ plugin or any other plugin sold via WooCommerce.com.

To get help debugging your issue, please submit a ticket to WooCommerce.com support system here: http://

[2017-07-24 18:34] #183 closed

[2017-07-25 01:31] aljohnrey commented on #182
When will be the release of the production?

[2017-07-25 01:35] seb86 commented on #182
Once the beta has been tested well enough and very few reports come back to say something is broken. We don't want to rush the project plus our time is limited. Do you have any issues currently? If so please open a new ticket with a detailed report. Thank you.